.btn-group.btn-group-xs(data-toggle='buttons')
	button(type='button', class=!ops.operator ? 'active' : '').btn.btn-default
		input(type='radio', name='options')
		| exactly
	button(type='button', class=ops.operator == 'gt' ? 'active' : '', data-opt='operator', data-value='gt').btn.btn-default
		input(type='radio', name='options')
		| greater than
	button(type='button', class=ops.operator == 'lt' ? 'active' : '', data-opt='operator', data-value='lt').btn.btn-default
		input(type='radio', name='options')
		| less than
.filter-input.filter-input-md: input(type='number', name='value', value=ops.value).form-control.input-xs
