extends ../../../templates/layout/base

include ../../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 Configuration
			p.lead TODO @jedwatson write the intro // ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem.

block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			h2 Introduction
			
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem.
			p Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem.
			
			
			h2 Sections
			p Proin at rhoncus sapien, sed luctus sem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem.
			ul.fancy-list
				li: a(href='/docs/configuration/options') Keystone Options
				li: a(href='/docs/configuration/services') Services
				li: a(href='/docs/configuration/advanced') Advanced
