extends ../templates/layout/base

block intro
	.page-header
		.container
			h1 Examples
			p.lead The following are a great way to see what Keystone can do, and how to use its various features.
	
block content
	.container-sm(style='margin-bottom: 3em;')
		
		a(name='app')
		h2 Applications

		a(name='app-demo')
		h3 Demo App
		
		p The demo app is a simple implementation showing how to create a blog, photo gallery and contact form, as well as how to set up session management, error handling and csv downloads.
		p You can also log into the Keystone Admin UI and see how it works using the demo account.
		ul.list-inline
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo website').btn.btn-primary Launch the site
			li: a(href='http://github.com/JedWatson/keystone-demo', target='_blank', title='View on GitHub').btn.btn-default View the GitHub Project
		
		a(name='app-sydjs')
		h3 SydJS Website
		
		p The team at <a href='http://www.thinkmill.com.au/' target='_blank'>Thinkmill</a> created a new website for SydJS, Sydney's Javascript Meetup, using Keystone.
		p It features a database of meetups, members, links, blog, organisations and mentors, as well as support for account creation and login using Facebook, Twitter and GitHub accounts.
		p It also includes the new client-side content management features, and a page where members can manage their profiles, rsvp to meetups and submit posts and links.
		ul.list-inline
			li: a(href='http://www.sydjs.com', target='_blank', title='Demo website').btn.btn-primary Launch the site
			li: a(href='http://github.com/JedWatson/sydjs-site', target='_blank', title='View on GitHub').btn.btn-default View the GitHub Project
		
		a(name='production')
		h2 KeystoneJS in Production

		p There are an ever-growing number of websites and applications in production powered by KeystoneJS - here are some of our favourites.
		p Have you launched a project with KeystoneJS? Let us know! Tweet 
			a(href='https://twitter.com/KeystoneJS', target='_blank') @KeystoneJS

		h3 Make &amp; Build
		p Make &amp; Build is a team of digital craftsmen in Atlanta, GA, and you can read their slidedeck about moving from Wordpress to KeystoneJS 
			a(href='https://s3.amazonaws.com/mnb_keystone/slidedecks/keystonejs.pdf', target='_blank', title="Make & Build Transition to KeystoneJS Slidedeck") here
			| .
		ul.list-inline
			li: a(href='http://makeandbuild.com', target='_blank', title="Make & Build").btn.btn-primary Launch the site

		h3 Gold Class Butler
		p KeystoneJS powers the API and payment integration behind Event Cinemas' mobile app for ordering food and drink while you're watching a movie.
		ul.list-inline
			li: a(href='http://www.goldclassbutler.com.au', target='_blank', title="Gold Class Butler").btn.btn-primary Launch the site
		
		h3 Macmillan Connect
		p Macmillan Education's next generation of learning applications is powered by KeystoneJS, which provides their licensing system, back-end API, progress synchronisation and mark book generation for teachers.
		ul.list-inline
			li: a(href='http://www.macmillanconnect.com.au', target='_blank', title="Macmillan Connect").btn.btn-primary Launch the site
		
		h3 Yoga Australia
		p The Yoga Teachers Association of Australia's website and back-end management system is built with KeystoneJS.
		ul.list-inline
			li: a(href='http://www.yogaaustralia.org.au', target='_blank', title="Yoga Australia").btn.btn-primary Launch the site
		
		h3 Suit Shop
		p KeystoneJS is behind the beautiful design, dynamic content and appointment setting features and customer area of Suit Shop's website.
		ul.list-inline
			li: a(href='http://www.suitshop.com.au', target='_blank', title="Suit Shop").btn.btn-primary Launch the site

		h3 Tim Pietrusky
		p Tim has created a unique format for his personal blog, to go with the great content. You can read about his experience transitioning to KeystoneJS in 
			a(href='http://timpietrusky.com/restart') this post
			| .
		ul.list-inline
			li: a(href='http://timpietrusky.com', target='_blank', title="Tim Pietrusky").btn.btn-primary Launch the site
		
		h3 BodyMindLife
		p BodyMindLife's KeystoneJS-powered website has dynamic content, events, timetables, and pass purchasing integrated with the MindBodyOnline studio management system.
		ul.list-inline
			li: a(href='http://www.bodymindlife.com.au', target='_blank', title="BodyMindLife Yoga Studio").btn.btn-primary Launch the site
		
		h3 ExhibitionsRUs
		p The ExhibitionsRUs website is a UK e-commerce site with a product catalogue and shopping cart, built by <a href="http://prowebsoftware.net" target="_blank">ProWebSoftware</a> with KeystoneJS.
		ul.list-inline
			li: a(href='https://www.exhibitionsrus.co.uk', target='_blank', title="ExhibitionsRUs").btn.btn-primary Launch the site

		h3 Hood (Social Network)
		p The idea behind this site is to connect positive people of cheerful spirit and a good heart in every possible way.
		ul.list-inline
			li: a(href='http://www.hood.rs/', target='_blank', title='Hood.rs').btn.btn-primary Launch the site
		
		h3 CorkDev.io (Tech Meetup)
		p corkdev.io is an open forum of professionals, hackers, architects and software engineers in Cork, Ireland.
		ul.list-inline
			li: a(href='http://corkdev.io/', target='_blank', title='CorkDev.io').btn.btn-primary Launch the site
		
		h3 HS Hackers Philly
		p The High School Hackers meetup crew in Philly have done a great job of taking our SydJS site and making it their own.
		ul.list-inline
			li: a(href='http://hshackers.org', target='_blank', title='HS Hackers Philly').btn.btn-primary Launch the site
