extends ../templates/layout/base

block intro
	.page-header
		.container
			h1 Get Started
			p.lead The fastest way to create a Node.js website. For a deep dive, 
					a(href='/docs/getting-started') check out the docs.
	
block content
	//- h2.text-center The fastest way to create a Node.js website
	.gs-guide
		.gs-guide-section
			.container-sm
				.gs-guide__header
					h2.gs-guide__title
						span.gs-guide__title-count 1
						.gs-guide__title-label Prerequisites
					.gs-guide__subtitle
						p Before you begin, make sure you have <a href="http://nodejs.org/download" target="_blank">Node.js</a> and <a href="http://www.mongodb.org/downloads" target="_blank">MongoDB</a> installed.
						p You'll need a reasonable working knowledge of Javascript to use KeystoneJS, as well as familiarity with basics such as database concepts, and using node / npm etc.
		
		.gs-guide-figure.gs-guide-figure--prerequisites.hidden-xs
			//- .text Installed?
			.column.nodejs
				a(href='http://nodejs.org/download/', target='_blank')
					.logo: img(src='/images/getting-started/nodejs-logo.png', alt='Node.js logo', width=245, height=66)
					span.prerequisite Download and install the Node.js binaries for your platform from the Node.js download page.
			.column.mongodb
				a(href='http://docs.mongodb.org/manual/installation/', target='_blank')
					.logo: img(src='/images/getting-started/mongodb-logo.png', alt='MongoDB logo', width=294, height=84)
					span.prerequisite See the MongoDB installation guide for how to install MongoDB on your operating system.
				
		.gs-guide-section
			.container-sm
				.gs-guide__header
					h2.gs-guide__title
						span.gs-guide__title-count 2
						.gs-guide__title-label Commands
				h3 Install the generator
				p You'll be using the <a href='https://github.com/keystonejs/generator-keystone', target='_blank'>KeystoneJS generator</a> made with <a href='http://yeoman.io/', target='_blank'>Yeoman</a>. In your root directory run:
				pre.command-line npm install -g generator-keystone
				
				h3 Create a folder for your project
				p Create your project wherever you want:
				pre.command-line mkdir my-test-project
				
				p Than make sure you're in your new project:
				pre.command-line cd my-test-project
				
				h3 Run the generator
				pre.command-line yo keystone
				p The generator will ask you a few questions about what features you'd like to include, then configure and copy all the files you'll need into your project.
				p It will also install dependencies from npm so you're ready to go.
		
		.gs-guide-figure.gs-guide-figure--commands.hidden-xs
			.window.safari
				img(src='/images/getting-started/commands-safari.png', alt='Safari window', width=942, height=616)
			.window.terminal
				.terminal-cursor
				img(src='/images/getting-started/commands-terminal.png', alt='Terminal window', width=650, height=437)
			.figure-shadow
				
		.gs-guide-section
			.container-sm
				.gs-guide__header
					h2.gs-guide__title
						span.gs-guide__title-count 3
						.gs-guide__title-label You're Done!
					p.gs-guide__subtitle So you just created your first KeystoneJS project, congrats!
					p.gs-guide__subtitle Run it in your command line like this:
					pre.command-line node keystone
					p.gs-guide__subtitle Then open <a href="http://localhost:3000" target="_blank">http://localhost:3000</a> to view it in your browser.
					p.gs-guide__subtitle If you want to see what the generator actually did take a look at our getting started guide, it'll walk you through the manual setup process. This is particularly helpful if you're new to Node.js.
					p.gs-guide__subtitle: a(href='/docs/getting-started') View the getting started guide &rarr;
		
		.gs-guide-figure.gs-guide-figure--finished.wow-much-find.hidden-xs
			img(src='/images/getting-started/commands-safari.png', alt='Safari window', width=1680, height=600).sr-only
			
		.gs-guide-section
			.container-sm
				.gs-guide__header
					h2.gs-guide__title
						span.gs-guide__title-count ?
						.gs-guide__title-label Problems
					p.gs-guide__subtitle Something went wrong? Hopefully these tips will help.
					
					h3 ERR! Please try running this command again as root/Administrator.
					p When running npm install -g generator-keystone, you may get an EACCES error asking you to run the command again as root/Administrator. This indicates that there is a permissions issue.
					p On your development system you can change directory ownership to the current $USER so you do not have to run sudo while installing untrusted code:
					pre
						| sudo chown -R $USER /usr/local
						| 
						| # Other directories may be required depending on your O/S
						| sudo chown -R $USER /usr/lib/node_modules/
					
					p For a production/shared environment you may wish to re-run the npm command with the sudo prefix:

					pre sudo npm install -g generator-keystone
					p For more information, see the <a href='http://foohack.com/2010/08/intro-to-npm/#what_no_sudo', target='_blank'>"What, no sudo?"</a> of the Intro to npm by Isaac Schulueter.

					h3 What do you mean it couldn't find my Database?
					p By default, KeystoneJS will look for a MongoDB server running on localhost on the default port, and connect to it. If you're getting errors related to the MongoDB connection, make sure your MongoDB server is running.
					p If you haven't installed MongoDB yet, follow the instructions below.
					p To connect to a server other than localhost, add a MONGO_URI setting to the .env file in your Keystone project directory:
					pre MONGO_URI=mongodb://your-server/database-name
					
					h3 Something else?
					p.gs-guide__subtitle If your issue still isn't resolved, reach out to us on the <a href="https://groups.google.com/d/forum/keystonejs" target="_blank">KeystoneJS Google Group</a>.
