// ==============================
// DOCUMENTATION
// ==============================





// type settings
// ------------------------------

p {
	line-height: 1.5;
	margin: 0 0 20px;
}
h1 {
	color: @gray-darker;
	font-size: 36px;
	// font-weight: 200;
	line-height: 36px;
	margin: 0 0 40px;
	
	& + h2 {
		margin-top: 50px;
	}
}
h2 {
	border-bottom: 1px solid @gray-lighter;
	color: @brand-primary;
	font-weight: 300;
	margin: 60px 0 20px 0;
	padding-bottom: 20px;
}
h3 {
	color: darken(@link-color, 30%);
	margin: 40px 0 20px;
}
h4 {
	margin: 30px 0 20px;
}
h5 {
	margin: 20px 0;
}
@media (min-width: @screen-sm) {
	h1 {
		font-size: 60px;
		line-height: 60px;
	}
	h2 {
		font-size: 48px;
		font-weight: 100;
		line-height: 48px;
		margin-top: 100px;
	}
}
h2:first-child {
	margin-top: 0;
}





// content
.docs-content {
	padding: @grid-gutter-width 0 100px;
	position: relative;
	
	@media (min-width: @screen-sm) {
		
		&:after {
			background-color: @gray-lighter;
			content: "";
			width: 1px;
			
			position: absolute;
			top: 0;
			left: -@grid-gutter-width;
			bottom: 0;
			right: 0;
		}
	}
}
.page-header {
	// #gradient .directional(spin(@link-color, 6%), spin(@link-color, -6%), 120deg);
	background-color: #fafafa;
	background-color: @link-color;
	background: url( "/images/intro-bg-inverse.png" ) no-repeat right bottom @link-color;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 30px;
	padding-top: 30px;
	
	h1,
	p,
	a {
		color: white;
	}
	h1 {
		margin-bottom: 10px;
	}
	p {
		font-weight: 300;
		margin-bottom: 0;
	}
	a {
		border-bottom: 1px dotted white;
		
		&:hover {
			border-bottom-style: solid;
			text-decoration: none;
		}
	}
	@media (min-width: @screen-sm-min) {
		padding-bottom: 60px;
		padding-top: 60px;
	
		p {
			font-weight: 100;
			letter-spacing: 0.02em;
			margin-right: 18%;
		}
	}
}
.page-subheader {
	background-color: #fafafa;
	border-bottom: 1px solid @gray-lighter;
	line-height: 1;
	padding: 1em 0;
	
	p {
		margin: 0;
	}
	.social-buttons {
		float: right;
	}
	.social-button {
		display: inline-block;
	}
}

// notes
.note {
	font-style: italic;
}
.contextual-note {
	background-color: mix(white, @brand-primary,95%);
	border-left: 6px solid mix(white, @brand-primary,80%);
	margin: 20px 0;
	padding: 15px;
	
	h4 {
		margin: 0 0 15px;
	}
	p {
		margin: 15px 0 0;
	}
	pre {
		margin: 15px 0 0;
	}
	pre, code {
		border-color: mix(white, @brand-primary,80%);
		background: mix(white, @brand-primary,98%)
	}
}



// Pager
.simple-pager {
	.clearfix();
	border-top: 1px solid @gray-lighter;
	margin-left: -@grid-gutter-width;
	padding-left: -@grid-gutter-width;
	margin-top: 80px;
	padding: 15px;
	text-align: center;
	
	.next {
		float: right;
	}
	.prev {
		float: left;
	}
}



.list-unstyled.lead {
	line-height: 2em;
}

// hilighted text
.hilight {
	background-color: #fffac2;
}

// options
div.options {
	padding-left: 20px;
	border-left: 3px solid #eee;
}

// lists
ul.list li {
	margin-top: 10px;
}
ul.options li, .options ul li {
	margin-top: 5px;
}


// code header
.code-header {
	.border-top-radius( 4px );
	border: 1px solid darken(@navbar-default-bg, 10%);
	border-bottom: 0 none;
	color: @gray;
	margin: 20px 0 0;
	padding: 15px;
	
	p {
		font-size: @font-size-small;
		margin: 0;
		& + p {
			margin: 15px 0 0;
		}
	}
	
	h4 {
		color: mix(black, @brand-primary, 50%);
		font-size: @font-size-small + 2;
		font-weight: bold;
		margin: 0;
		
		& + p {
			margin: 15px 0 0;
		}
	}
	
	// so you can use PRE on it's own
	& + pre {
		border-radius: 0 0 4px 4px;
	}
}

// Preformatted text
pre {
	background-color: @navbar-default-bg;
	border-color: darken(@navbar-default-bg, 10%);
	font-size: 14px !important;
	white-space: pre;
	word-break: keep-all;
	word-wrap: normal;
	overflow: auto;
	padding: 15px;
}
code {
	font-size: 14px !important;
}
h1 pre, h1 code, h2 pre, h2 code, h3 pre, h3 code, h4 pre, h4 code {
	font-size: 0.9em !important;
}

code.data-type {
	color: #0e487a;
	background: #f9f9f9;
}
code.default-value {
	color: #333;
	background: #f9f9f9;
}


// sidebar
.docs-sidebar {}
.docs-sidebar-info {
	color: @gray-light;
	padding-top: @grid-gutter-width;
	padding-right: @grid-gutter-width;
}


// sidebar toggle
.nav-toggle {
	border-radius: 4px;
	border: 1px solid @gray-lighter;
	list-style: none;
	margin-top: 0;
	margin-right: @grid-gutter-width;
	padding: 0;
	
	display: table;
	table-layout: fixed;
	width: 100%;
	
	li {
		display: table-cell;
		text-align: center;
		// width: 50%;
	}
	a {
		border-radius: 4px;
		// color: @gray;
		display: block;
		height: 2em;
		line-height: 2em;
		
		&:hover {
			// background-color: @gray-lighter;
			color: @text-color;
			text-decoration: none;
		}
	}
	.active a {
		background-color: @gray-lighter;
		color: @gray;
	}
	@media (min-width: @screen-sm-min) {
		font-size: 1.4em;
	}
}


// sidebar navigation
.sidebar-nav {
	font-size: @font-size-small;
	list-style: none;
	margin: 40px 0;
	padding: 0;
	position: relative;
	z-index: 2;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: ;
	}
	a {
		// border-right: 1px solid transparent;
		color: @text-color;
		display: block;
		padding: 5px 0;
		
		&:hover,
		&:active,
		&:focus {
			// border-right-color: @link-color;
			color: @link-color;
			outline: none;
			text-decoration: none;
		}
	}
	.active > .nav-heading {
	}
	.nav-heading {
		border-bottom: 1px solid @gray-lighter;
		color: @gray-darker;
		font-size: 1.25em;
		margin-top: @grid-gutter-width;
		text-transform: uppercase;
	}
	.nav-label {
		color: @gray-light;
		// font-size: .85em;
		margin-top: 20px;
		text-transform: uppercase;
	}
}
