extends ../layout/auth

block content
	h1.sr-only Change password
	.auth-box
		.auth-box-col
			include ../includes/auth-brand
			
		.auth-box-col
			p.lead Hi #{user.name.first},
			p.lead Please provide a new password.
			form(method="post", novalidate).auth-form
				input(type='hidden', name=csrf_token_key, value=csrf_token_value)
				input(type='hidden', name='nonce', value=reset.nonce)
				.form-group
					label(for='password') New password
					input(type='password', name='password', id='password').form-control
				.form-group
					label(for='password_confirm') Confirm new password
					input(type='password', name='password_confirm', id='password_confirm').form-control
				
				button(type='submit').btn.btn-primary Set new password
									
				
block js
	//- Only focus the field after the shake animation is complete
	if messages && messages.error.length
		script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
	else
		script try { document.getElementById('email').focus(); } catch(e) {};
