extends ../layout/base

block js
	- var getListMeta = function(list) { return _.pick(list, ['key', 'label', 'path']); }
	script.
		Keystone.nav = !{JSON.stringify(nav)};
		Keystone.lists = !{JSON.stringify(_.map(lists, getListMeta))};
		Keystone.orphanedLists = !{JSON.stringify(orphanedLists.map(getListMeta))};
	script(src='/keystone/js/packages.js')
	script(src='/keystone/js/home.js')

block content
	#home-view
