extends ../layout/auth

block content
    h1.sr-only Reset your password
    .auth-box
        .auth-box-col
            include ../includes/auth-brand

        .auth-box-col
            if user
                p.lead Hi #{user.name.first},
                p.lead You're already signed in.
                .toolbar
                    if user.isAdmin
                        a(href='/keystone').btn.btn-primary Open Keystone
                    a(href='/keystone/signout').btn.btn-cancel Sign out

            else
                form(method="post", novalidate).auth-form
                    input(type='hidden', name=csrf_token_key, value=csrf_token_value)
                    .form-group
                        label(for='email') Email
                        input(type='email', name='email', id='email', value=submitted.email).form-control

                    button(type='submit').btn.btn-primary Reset

                    a(href='/keystone/signin').btn.btn-cancel Back to sign in

block js
    //- Only focus the field after the shake animation is complete
    if messages && messages.error.length
        script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
    else
        script try { document.getElementById('email').focus(); } catch(e) {};
