extends ../layout/auth

block content
	h1.sr-only Sign Out
	.auth-box
		.auth-box-col
			include ../includes/auth-brand
			
		.auth-box-col
			p.lead You have been signed out
			a(href='/').btn.btn-primary Home
			a(href='/keystone/signin').btn.btn-link Sign in again
