extends ../layout/session

block intro
	.page-header.hidden-xs
		h1 Sign In

block content
	if !user
		//- h1 Sign In
		form(method="post", action="/keystone/signin")#signin-form
			.row
				.col-sm-3.col-md-2: label Email
				.col-sm-9.col-md-10: input(type="email", name="email", value=submitted.email).form-control
			.row
				.col-sm-3.col-md-2: label Password
				.col-sm-9.col-md-10: input(type="password", name="password").form-control
			.row
				.col-sm-9.col-md-10.col-sm-offset-3.col-md-offset-2: input(type="submit", value="Sign in").btn.btn-default
			
	else
		p.lead Hi #{user.name.first},
		p.lead You're already signed in.
		a(href='/keystone').btn.btn-default Open Keystone
		a(href='/keystone/signout').btn.btn-cancel Sign out

block js
	script.
		jQuery(function($) {
			$('input[name=email]').focus();
		});
