extends ../layout/auth

block content
	h1.sr-only Sign Out
	.auth-box
		.auth-box__col
			include ../includes/auth-brand
			
		.auth-box__col
			p.lead You have been signed out
			a(href='/').Button.Button--primary Home
			a(href='/keystone/signin').Button.Button--link Sign in again
