extends ../layout/session

block intro
	.page-header.hidden-xs
		h1 Sign Out
		p.lead You have been signed out
block content
	a(href='/keystone/signin').btn.btn-default Sign in again
	a(href='/').btn.btn-link Back to #{brand}