{
  "extends": [
     "keystone-react"
  ],
  "rules": {
    "react/jsx-no-bind": 0
  },
  "globals": {
    "_": true,
    "$": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "jQuery": true,
    "Keystone": true
  }
}
