{
  "extends": [
     "keystone"
  ],
  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "quote-props": ["error", "as-needed"]
  },
  "globals": {
    "_": true,
    "$": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "jQuery": true,
    "Keystone": true
  }
}
