*.csv
*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.swp
*.un~
*.iml
*.ipr
*.iws
.idea/
*.sublime-*

logs
node_modules/
npm-debug.log
pids
results
coverage
coverage.html
.cover*
lib-cov

docs/_dist
public/styles/auth.css
public/styles/auth.min.css
public/styles/keystone.css
public/styles/keystone.min.css
