extends ../../../common/templates/layout/base

include ../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 文档
			p.lead 学习如何在Node.js中搭建数据库驱动的网站、应用程序和API。
	
block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			h2 欢迎
			
			h3 我们开始吧
			p.lead.text-muted 用左侧的导航栏选择文档的三个主要部分：入门、配置和数据库。
			.row
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/zh/docs/getting-started') 入门
							p 入门指南会逐步介绍如何手动搭建一个KeystoneJS网站。这里是很好的起点。
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/zh/docs/configuration') 配置
							p 在你熟悉了KeystoneJS之后，可以开始配置了。有很多可能的设定和服务让你搭建自己的应用或网站。
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/zh/docs/database') 数据库
							p KeystoneJS以Mongoose的模式为基础创建了"列表"，其中包含条目。在管理界面中可以访问到列表。
		
