extends ../../../templates/layout/base

include ../../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 Database
			p.lead TODO @jedwatson write the intro // ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem.

block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			h2 Introduction
			
			p In KeystoneJS, your data schema and models are controlled by <strong>Lists</strong>, and documents in your database are often called <strong>Items</strong>.
			p To define a data model, you create a <code>new keystone.List</code>, and pass it <a href="#lists_options">list options</a>. 
			p You then add fields to the list. Behind the scenes, a Keystone List will create a <a href="http://mongoosejs.com/docs/guide.html" target="_blank">mongoose schema</a>, and add the appropriate paths to it for the fields you define.
			p The schema is accessible, allowing you to plug in other mongoose functionality like virtuals, methods and pre / post hooks.
			p When you have finished setting up your List, call <code>list.register()</code> to initialise it and register it with Keystone.
			p To query your data, you use the <code>list.model</code> (which is a <a href="http://mongoosejs.com/docs/models.html" target="_blank">mongoose model</a>).
			p List Items are <a href="http://mongoosejs.com/docs/documents.html" target"_blank">mongoose documents</a>. To create new items, use <code>new list.model()</code> and when you're ready to save it (or to save changes to an existing Item), call <code>item.save()</code>.
			
			
			h2 Sections
			p Proin at rhoncus sapien, sed luctus sem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis eu odio in placerat. Proin at rhoncus sapien, sed luctus sem.
			ul.fancy-list
				li: a(href='/docs/database/lists') Lists
				li: a(href='/docs/database/fields') Fields
				li: a(href='/docs/database/relationships') Relationships
				li: a(href='/docs/database/field-types') Field Types
