doctype 5
html
	head
		include ../includes/htmlhead
		block css
		block head
	body
		
		include ../includes/header
		
		include ../includes/primary-nav
		
		#body: .container
			block content
		
		include ../includes/footer
		
		//- script(src="/js/lib/jquery/jquery-1.10.2.min.js")
		
		//- Page Scripts
		block page-js
		
		//- Analytics
		