doctype 5
html
	head
		meta(charset="utf-8")
		title Keystone.JS
			if title
				|  &middot; #{title}
		link(href="/styles/site.min.css", rel="stylesheet")
		block css
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		block head
	body
		
		include ../includes/header
		
		include ../includes/primary-nav
		
		#body: .container
			block content
		
		include ../includes/footer
		
		script(src="/js/lib/jquery/jquery-1.10.2.min.js")
		
		//- Page Scripts
		block page-js
		
		//- Analytics
		