doctype 5
html
	head
		include ../includes/htmlhead
		block css
		block head
	body
		
		include ../includes/header
		
		#hero: .container
			p.lead Node.js content management system and web application platform built on express and mongoose.
			.buttons
				a(href='http://github.com/JedWatson/keystone').btn.btn-large.btn-primary View on GitHub
				a(href='http://demo.keystonejs.com').btn.btn-large.btn-default Try the demo
			p.version Current version is #{version}
		
		include ../includes/primary-nav
		
		#body: .container
			block content
		
		include ../includes/footer
		
		//- script(src="/js/lib/jquery/jquery-1.10.2.min.js")
		
		//- Page Scripts
		block page-js
		
		//- Analytics
		