//
// Keystone's Variables
// ==============================




// Common
// ------------------------------

@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@padding-base-vertical:           6px;
@padding-base-horizontal:        12px;

@comboarrow-size:                 4px;
@input-vspacing:                 12px;
@table-cell-padding:              8px;
@input-height-base:              24px;

@dashboard-list-bg:              darken(@body-bg, 4%);




// Navbars
// ------------------------------

@primary-navbar-bg:                   @link-color;
@primary-navbar-color:                white;
@primary-navbar-padding-vertical:     .75em;
@primary-navbar-padding-horizontal:   1.5em;
@primary-navbar-hover-bg:             transparent;
@primary-navbar-hover-color:          white;
@primary-navbar-active-bg:            darken(@primary-navbar-bg, 6.5%);
@primary-navbar-active-color:         white;

@secondary-navbar-bg:                 darken(@body-bg, 2%);
@secondary-nav-border-color:          darken(@secondary-navbar-bg, 10%);
@secondary-navbar-color:              #666;
@secondary-navbar-hover-color:        lighten(@link-color, 10%);
@secondary-navbar-padding-vertical:   .75em;
@secondary-navbar-padding-horizontal: 1em;
@secondary-navbar-active-bg:          transparent;
@secondary-navbar-active-color:       @text-color;
@secondary-navbar-arrow-size:         8px;