extends ../layout/base

block content
	.page-header
		.container
			h1 Examples
			p.lead The following are a great way to see what Keystone can do, and how to use its various features.
	.page-subheader
		.container
			p If you have a question check out the 
				a(href="https://groups.google.com/forum/#!forum/keystonejs", target="_blank") Google Group
				|  and get an answer from the community 
				//- |  or log an issue on 
				//- a(href="https://github.com/JedWatson/keystone/issues", target="_blank") GitHub
	
	.container: .row
		.col-sm-4.col-md-3: nav.docs-sidebar
			ul.sidebar-nav
				li.nav-label Snippets
				li: a(href='#snippet-demo') Something
				li.nav-label Applications
				li: a(href='#app-demo') Demo App
				li: a(href='#app-sydjs') SydJS Website
		.col-sm-8.col-md-9: .docs-content
			h2 Snippets
			h3 Something
			p The demo app is a simple implementation showing how to create a blog, photo gallery and contact form, as well as how to set up session management, error handling and csv downloads.
			
			h2 Applications
			a(name='app-demo')
			h3 Demo App
			
			p The demo app is a simple implementation showing how to create a blog, photo gallery and contact form, as well as how to set up session management, error handling and csv downloads.
			p You can also log into the Keystone Admin UI and see how it works using the demo account.
			p.buttons
				a(href='http://demo.keystonejs.com', target='_blank', title='Demo website').btn.btn-primary Launch the site
				a(href='http://github.com/JedWatson/keystone-demo', target='_blank', title='View on GitHub').btn.btn-default View the GitHub Project
			
			a(name='app-sydjs')
			h3 SydJS Website
			
			p The team at <a href='http://www.thinkmill.com.au/' target='_blank'>Thinkmill</a> created a new website for SydJS, Sydney's Javascript Meetup, using Keystone.
			p It features a database of meetups, members, links, blog, organisations and mentors, as well as support for account creation and login using Facebook, Twitter and GitHub accounts.
			p It also includes the new client-side content management features, and a page where members can manage their profiles, rsvp to meetups and submit posts and links.
			p.buttons
				a(href='http://sydjs.com', target='_blank', title='Demo website').btn.btn-primary Launch the site
				a(href='http://github.com/JedWatson/sydjs-site', target='_blank', title='View on GitHub').btn.btn-default View the GitHub Project
			
					
