extends ../layout/docs

block content
	.row
		
		.col-sm-3: #docs-sidebar
			ul.sidebar-nav
				li.nav-label Getting Started
				li: a(href='#start') Introduction
			//- li.nav-label Heading
			//- li.active: a(href='#') Active
			//- li: a(href='#') Inactive
		
		.col-sm-9: #docs-content
			
			h1 KeystoneJS Guide
			
			h2 Getting Started
			
			h3 Introduction
			
			p KeystoneJS makes it easy to build batabase-driven websites, applications and APIs in node.js.
			p Under the hood, KeystoneJS uses the express.js web server framework, and a MongoDB database via the mongoose framework.
			p It is designed to make complicated things simple, without limiting the power or flexibility of node.js or the frameworks it is built on.
			p This guide will show you how to build a KeystoneJS website using the default options.
			
			//-	//- Examples...
			//-	
			//- .code-header
			//- 	h4 Optional heading
			//- 	p Optional code block intro text.The first time I stole so that I wouldn't starve, yes. I lost many assumptions about the simple nature of right and wrong.
			//- 
			//- //- TODO @jed colorize
			//- pre
			//- 	| $('#myTab a').click( function (e) {
			//- 	|   e.preventDefault()
			//- 	|   $(this).tab('show')
			//- 	| })
			//- 
			//- .contextual-note
			//- 	h4 Contextual note
			//- 	p Note Contents
