extends ../layout/home

block content
	h2 Introduction
	
	p Keystone provides:
	ul
		li A simple way to create an Express web app with custom routes, templates and models		
		li Out of the box session management and authentication		
		li Enhanced models with additional field types and functionality, building on those natively supported by Mongoose		
		li An updates framework for managing data updates or initialisation		
		li A beautiful Admin UI based on the defined models
		li Integration with Coudinary for image uploading, storage and resizing		
		li Integration with Mandrill for sending emails easily		

	p To see a working demo of Keystone, visit <a href='http://demo.keystonejs.com/'>demo.keystonejs.com</a>

	p View the <a href='https://github.com/JedWatson/keystone-demo'>example project</a> to see how to set up a simple Keystone app.
	