extends ../layout/home

block content
	section.intro-section.building-section: .container
		h2.text-center Start building, right out of the box
		.row
			.col-sm-4
				h4 Session management
				p Keystone comes ready with out of the box session management and authentication
			.col-sm-4
				h4 Email sending
				p Integrated with Mandrill so you can easily send single or batch emails
			.col-sm-4
				h4 Image management
				p Coudinary integration for image uploading, storage and resizing
	
	
	
	
	section.intro-section.admin-section: .container
		h2.text-center A beautiful Admin UI based on the models you define
		.text-center: img(src='/images/admin-interface.jpg').img-responsive
	
	
	
	
	section.intro-section.tools-section: .container
		h2.text-center The tools to get your app off the ground
		for tool in [1,2]
			.row
				.col-sm-3
					h4 Express plus more
					p Create an Express web app with custom routes, templates and models 
				.col-sm-3
					h4 Enhanced models
					p Enhanced models with additional field types and functionality, building on those natively supported by Mongoose
				.col-sm-3
					h4 Simpler updates
					p An easy to use updates framework for managing data updates or initialisation
				.col-sm-3
					h4 Advanced usage
					p It is also possible to integrate keystone into an existing express app, without using the start method.
	
	
	
	
	section.intro-section.cta-section: .container: .row: .col-sm-6.col-sm-offset-3.text-center
		h2 See what Keystone can do for you
		p: a(href='https://github.com/JedWatson/keystone', target='_blank', title='View the project on GitHub').btn.btn-primary.btn-lg.btn-block View the project on GitHub
		p or visit the 
			a(href='http://demo.keystonejs.com', target='_blank', title='Demo website') demo website
