extends ../layout/base

block content
	.container: .row
		
		.col-sm-3: #docs-sidebar
			ul.sidebar-nav
				li.nav-label Routes
				li: a(href='#routes_intro') Overview
				li.nav-label Views
				li: a(href='#views_intro') Overview
		
		.col-sm-9: #docs-content
			
			h1 Routes &amp; Views in Keystone
			
			p ...
			
			h2 Routes
			
			h3 Setting up Routes
			
			p ...
			
			h2 Views
			
			h3 The View Class
			
			p ...
