.docs-footer: .container
	//- .social-buttons
		.social-button: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="false") Follow @keystonejs
		.social-button: iframe(src="http://ghbtns.com/github-btn.html?user=JedWatson&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=80, height=20)
	.footer-wrap
		p
			| Created by 
			a(href='http://twitter.com/jedwatson', target='_blank') @jedwatson
			|  and other 
			a(href='https://github.com/JedWatson/keystone/contributors', target='_blank') contributors
			|  under the 
			a(href='http://opensource.org/licenses/MIT', target='_blank') MIT License
		ul.list-inline
			li: a(href='https://github.com/JedWatson/keystone', target='_blank', title='Github Project') Github Project
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website') Demo Website
			li: a(href='/guide', title='KeystoneJS Getting Started') Getting Started
			li: a(href='/guide/config', title='KeystoneJS Configuration') Configuration
			li: a(href='/guide/data', title='KeystoneJS Database') Database
			li: a(href='/examples', title='KeystoneJS Database') Examples
		//- h4 Help us spread the word
		.social-buttons
			a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="true") Follow @keystonejs
			iframe(src="http://ghbtns.com/github-btn.html?user=JedWatson&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=80, height=20)
