#docs-footer: .container
	.social-buttons
		.social-button: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="false") Follow @keystonejs
		.social-button: iframe(src="http://ghbtns.com/github-btn.html?user=JedWatson&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=80, height=20)
	.footer-wrap
		ul.list-links
			li: a(href='https://github.com/JedWatson/keystone', target='_blank', title='Github Project') Github Project
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website') Demo Website
			//- li: a(href='/', target='_blank', title='Docs') Docs
			//- li: a(href='http://blog.keystonejs.com', target='_blank', title='Blog') Blog
		p.copyright &copy; 2013 Jed Watson
