.docs-footer
	.container
		p
			| Created by 
			a(href='http://twitter.com/jedwatson', target='_blank') @jedwatson
			| , 
			a(href='http://twitter.com/bladey', target='_blank') @bladey
			|  and 
			a(href='http://twitter.com/jossmackison', target='_blank') @jossmackison
			|  at 
			a(href='http://www.thinkmill.com.au', target='_blank') Thinkmill
			| , and other 
			a(href='https://github.com/keystonejs/keystone/contributors', target='_blank') contributors
			|  under the 
			a(href='http://opensource.org/licenses/MIT', target='_blank') MIT License
		ul.list-inline
			li: a(href='/getting-started', title='KeystoneJS Getting Started') Getting Started
			li: a(href='/docs', title='KeystoneJS Documentation') Documentation
			li: a(href='https://groups.google.com/forum/#!forum/keystonejs', target='_blank', title='KeystoneJS Google Group') Google Group
			li: a(href='https://github.com/keystonejs/keystone', target='_blank', title='Github Project (new window)') Github Project
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website (new window)') Demo Website
			li: a(href='/examples', title='KeystoneJS Database') Examples
.docs-footer-floor
	.container
		.social-buttons
			.social-button.social-button__twitter: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="true") Follow @keystonejs
			.social-button.social-button__github: iframe(src="http://ghbtns.com/github-btn.html?user=keystonejs&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)
