script.
	var _sf_startpt=(new Date()).getTime()
meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
title KeystoneJS
	if title
		|  &middot; #{title}
//- link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic", rel="stylesheet")
link(href="/styles/site.min.css", rel="stylesheet")
link(href="/styles/prism.css", rel="stylesheet")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
