script.
	var _sf_startpt=(new Date()).getTime()
meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
title KeystoneJS
	if title
		|  &middot; #{title}
meta(name="keywords" content="node.js,nodejs,cms,publishing,platform,web,development,framework,express,mongo,mongodb,bootstrap,react,jquery")
meta(name="description" content="Get a head-start on the features you need. KeystoneJS is the easiest way to build dynamic websites, applications and APIs with Node.js and MongoDB.")
meta(property="og:locale" content="en-us")
meta(property="og:title" content="KeystoneJS")
meta(property="og:description" content="KeystoneJS is an open source Node.js CMS and web application platform built on Express and MongoDB.")
meta(property="og:url" content="https://keystonejs.com^current_url^")
meta(property="og:site_name" content="KeystoneJS")
meta(property="og:type" content="article")
link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,500,700", rel="stylesheet")
link(href="/styles/site.min.css", rel="stylesheet")
link(href="/styles/prism.css", rel="stylesheet")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
