.docs-footer
	.container
		p
			| Created by 
			a(href='http://twitter.com/jedwatson', target='_blank') @jedwatson
			| , 
			a(href='http://twitter.com/bladey', target='_blank') @bladey
			|  and 
			a(href='http://twitter.com/jossmackison', target='_blank') @jossmackison
			|  at 
			a(href='http://www.thinkmill.com.au', target='_blank') Thinkmill
			| , and other 
			a(href='https://github.com/keystonejs/keystone/contributors', target='_blank') contributors
			|  under the 
			a(href='http://opensource.org/licenses/MIT', target='_blank') MIT许可
		ul.list-inline
			li: a(href='/getting-started', title='KeystoneJS Getting Started') 入门指南
			li: a(href='/docs', title='KeystoneJS Documentation') 文档
			li: a(href='https://groups.google.com/forum/#!forum/keystonejs', target='_blank', title='KeystoneJS Google Group') 谷歌群组
			li: a(href='https://github.com/keystonejs/keystone', target='_blank', title='Github Project (new window)') Github项目
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website (new window)') 演示站点
			li: a(href='/examples', title='KeystoneJS范例') 范例
.docs-footer-floor
	.container
		.social-buttons
			.social-button.social-button__twitter: a(href="http://www.weibo.com/u/5392294064", class="twitter-follow-button", data-show-count="true") 关注 @keystonejs
			.social-button.social-button__github: iframe(src="http://ghbtns.com/github-btn.html?user=keystonejs&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)
