.page-subheader
	.container
		.social-buttons.hidden-xs.hidden-sm
			.social-button.social-button__twitter: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="true") Follow @keystonejs
			.social-button.social-button__github: iframe(src="http://ghbtns.com/github-btn.html?user=keystonejs&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)
		p Keystone is free and open source under the 
			a(href='http://opensource.org/licenses/MIT', target='_blank') MIT License
			| .
		//- p If you have a question check out the 
			a(href="https://groups.google.com/forum/#!forum/keystonejs", target="_blank") Google&nbsp;Group
			|  and get an answer from the community
			//- | , or create an issue on our 
			//- a(href="https://github.com/keystonejs/keystone/issues", target="_blank") GitHub Project
