.field.type-select
	label.field-label= field.label
	.field-ui
		select(name=field.path).ui-select2
			if field.emptyOption
				option(value='')
			each opt in field.ops
				option(value=opt.value, selected=(item[field.path] == opt.value))= opt.label
		if field.note
			.field-note!= field.note
