body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #666;
	background-color: #f6f6f6;
}
#body {
	width: 600px;
	margin: 200px auto 20px auto;
}
h1 {
	font-size: 24px;
	font-weight: normal;
}
h2 {
	font-size: 20px;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	font-weight: normal;
}
