.field.vi .field-label,
.field.zh .field-label {
	padding-left: 40px;
	color: #999;
}

.field.vi .field-label:after {
	content: ' (VI)';
}

.field.zh .field-label:after{
	content: ' (ZH)';
	padding-left: 40px;
	color: #999;
}

.language-selection {
	display: none;
}

.lang-en .create-form .field,
.lang-vi .create-form .field {
	display: block;
}
