//
// Dashboard
// ==============================




// Model Group
// ------------------------------

// base

.dashboard-group {
	margin-bottom: 60px;
}


// headings

.dashboard-group__heading {
	color: @gray-light;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 1em;
}
.dashboard-group__heading-icon {
	color: inherit;
	font-size: 16px;
	display: inline-block;
	margin-top: -1px;
	vertical-align: middle;
	width: 30px;
}




// Model List
// ------------------------------

// base

/*ul*/.dashboard-group__list {
	&:extend(.u-clearfix all);
	list-style: none;
	margin: 0 -10px -10px 20px;
	padding: 0;

	> li {
		float: left;
		padding: 0 10px 20px;
		width: 100%;
	}

	> li > a {
		// .transition( all 140ms linear );
		background-color: @dashboard-list-bg;
		border-radius: @border-radius-base;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
		color: @gray-light;
		display: block;
		height: 80px;
		padding: 10px 15px;
		position: relative;

		&:hover,
		&:focus {
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px fade(@link-color, 50%);
			outline: none;
			text-decoration: none;

			.dashboard-group__list-label {
				text-decoration: underline;
			}
		}

		&:active {
			box-shadow: 0 0 0 1px fade(@link-color, 50%);
			top: 1px;
		}
	}

	@media (min-width: @screen-sm) { > li { width: 50%; } }
	@media (min-width: @screen-md) { > li { width: 33%; } }
	@media (min-width: @screen-lg) { > li { width: 25%; } }
}

.dashboard-group__list-label {
	.u-text-truncate();
	color: @link-color;
	font-size: 1.25em;
	font-weight: 500;
}
