//
// Cloudinary Image
// ==============================




// Multiple
// ------------------------------
.field-upload {
	position: absolute;
	left: -9999px;
}
.field-type-cloudinaryimages {

	// wrapper for image
	.image-field {
		float: left;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	// drop zone
	.image-field--upload {
		cursor: pointer;

		.img-thumbnail {
			.img-dropzone {
				width: 90px;
				height: 90px;
				display: block;
				position: relative;
				z-index: 1;
			}
		}
		&:hover,
		&.hover {
			.img-thumbnail {
				border: 1px solid #C8EECD;
				background: #EFFDF0;
				.img-uploading {
					color: #0B851A;
				}
			}
			.image-message {
				text-decoration: underline;
			}
		}
	}

	// anchor containing the image, and when applicable an icon
	.image-preview {
		line-height: 0;

		.image-message {
			margin-left: 0px;
			font-size: 12px;
			width: 110px;
			text-align: center;
			width: 100%;
		}
	}
	.image-details {
		.image-message {
			display: inline-block;
			padding: @padding-base-vertical @padding-base-horizontal;
			margin-bottom: 0;
			font-size: 12px;
			font-weight: 500;
			line-height: @line-height-base;
			text-align: center;
			vertical-align: middle;
			white-space: nowrap;
			margin-left: 0px;
			font-size: 12px;
			width: 100%;
		}
	}
	.upload-queued,
	.delete-queued {
		margin-left: 10px;
	}
	.btn-cancel {
		margin-left: 0px;
		font-size: 12px;
		width: 110px;
		text-align: center;
		width: 100%;
	}

	.images-container,
	.images-toolbar {
		&:extend(.u-clearfix all);
	}
	.sortable-placeholder {
		border: 1px dashed #777;
		background: none;
		margin-top: 0px;
		margin-left: 3px;
		margin-right: 12px;
		margin-bottom: 0px;
		float: left;
	}
}
