// 
// List Controls
// ==============================




// base

/*button*/.ItemList__control {
	.transition( color 140ms );
	background: none;
	border: none;
	color: #ccc;
	display: block;
	font-size: 16px; // stop weird blurring on icons
	line-height: 0; // collapse buttons
	padding: 0 .25em;
	text-align: left;
	width: 100%;

	&:focus {
		outline: none;
	}
}


// delete control

.ItemList__control--delete {
	&:hover,
	&:focus {
		color: @app-danger;
	}
}


// sortable control

.ItemList__control--sortable {
	cursor: hand;
	cursor: -webkit-grab;
	cursor: -moz-grab;

	&:hover {
		color: @text-color;
	}
	&:active {
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
	}
}