//
// Popout
// ==============================

@popout-gutter:                     20px;
@popout-arrow-size:                  8px;
@popout-width:                     320px;

@popout-pane-animation-duration:   360ms;
@popout-pane-timing-function:      cubic-bezier(.36, .66, .04, 1);




// Menu
// ------------------------------


// wrapper

.popout-wrapper {
	position: relative;
}


// base

.popout {
	.animation-duration( 200ms );
	.animation-timing-function( cubic-bezier(0.77, 0, 0.175, 1) );
	.transition( ~"width 200ms, height 200ms" );
	background-color: @dropdown-bg;
	border-radius: @border-radius-base;
	box-shadow: 0 0 0 1px rgba(0,0,0,.175), 0 3px 8px rgba(0,0,0,.175);
	font-size: @font-size-base;
	left: 50%;
	margin-left: -(@popout-width / 2);
	margin-top: @popout-arrow-size + 4; // make room for the arrow
	position: absolute;
	top: 100%;
	width: @popout-width;
	z-index: @zindex-dropdown;

	.align-right & {
		left: auto;
		right: 0;
	}
}
.popout-enter {
	.animation-name( popoutEnter );
}
.popout-leave {
	.animation-name( popoutLeave );
}


// arrow

.popout-arrow {
	left: 50%;
	margin-left: -@popout-arrow-size;
	margin-top: -@popout-arrow-size + 1;
	position: absolute;

	// common setup for shapes
	&:before,
	&:after {
		border-left:  @popout-arrow-size solid transparent;
		border-right: @popout-arrow-size solid transparent;
		border-bottom: @popout-arrow-size dashed;
		content: "";
		display: inline-block;
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 0;
	}

	// the white part of the arrow
	&:before {
		border-bottom-color: rgba(0, 0, 0, 0.2);
		top: -1px;
	}

	// the shadow
	&:after {
		border-bottom-color: white;
	}
}


// inner

.popout-inner {
	padding: 0 @popout-gutter;
}

.popout__scrollable-area {
	.transition( height @popout-pane-animation-duration );
	position: relative;

	// fix height and scroll
	max-height: @dropdown-menu-height;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


// panes

.popout-pane {
	.animation-duration( @popout-pane-animation-duration );
	.animation-timing-function( @popout-pane-timing-function );
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.popout-pane-next-enter {
	.animation-name( slideInFromRight );
}
.popout-pane-next-leave {
	.animation-name( slideOutToLeft );
}
.popout-pane-prev-enter {
	.animation-name( slideInFromLeft );
}
.popout-pane-prev-leave {
	.animation-name( slideOutToRight );
}




// Lists
// ------------------------------


// items

.popout__list__item {
	.transition( all 140ms );
	.text-overflow();
	background: #fafafa;
	border: none;
	border-radius: .25em;
	color: @text-color;
	display: block;
	padding: .5em 1em;
	text-align: left;
	width: 100%; // because we're using buttons, display block isn't enough
	-webkit-appearance: none;

	& + & {
		margin-top: 3px;
	}

	&:hover,
	&:focus {
		.transition( none );
		background-color: fade(@link-color, 10%);
		color: @link-color;
		outline: none;

		.popout__list__item__icon {
			color: @link-color;
		}
	}

	// selected filters
	&.is-selected {
		background-color: @link-color;
		color: white;

		.popout__list__item__icon {
			color: white;
		}

		&:focus {
			outline: 1px dotted rgba(255, 255, 255, 0.75);;
			outline-offset: -3px;
		}
	}
}


// headers

.popout__list__header {
	font-size: @font-size-sm;
	color: @gray-light;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 2em;

	&:first-child {
		margin-top: 0;
	}
}


// icon

.popout__list__item__icon {
	color: fade(@text-color, 40%);
	float: right;
	margin-left: .5em;
}




// Popout Layout
// ------------------------------


// header

.popout__header {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	// font-size: @font-size-sm;
	font-weight: 500;
	height: 3.4em;
	overflow: hidden;
	padding-bottom: .5em;
	padding-top: .5em;
	position: relative;
	text-align: center;
	z-index: 1; // above the scrollable area
}
.popout__header__icon {
	background: white;
	border: none;
	color: @gray-light;
	font-size: @font-size-base;
	height: 2.4em;
	left: 0;
	padding: 0;
	position: absolute;
	outline: none;
	width: 2.4em;
	z-index: 2;
	-webkit-appearance: none;

	// handle mouse/keyboard interaction
	&:hover  { color: @gray; }
	&:active { color: @gray-dark; }
	&:focus  { color: @app-primary; }

	&::before {
		font-size: 16px;
	}
}
.popout__header__label {
	.animation-duration( @popout-pane-animation-duration );
	.animation-timing-function( @popout-pane-timing-function );
	display: block;
	height: @component-height;
	left: 0;
	line-height: @component-height;
	overflow: hidden;
	padding-left: @component-height;
	padding-right: @component-height;
	position: absolute;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	z-index: 1;
}
.popout__header__label-next-enter {
	.animation-name( slideInFromRight );
}
.popout__header__label-next-leave {
	.animation-name( slideOutToLeft );
}
.popout__header__label-prev-enter {
	.animation-name( slideInFromLeft );
}
.popout__header__label-prev-leave {
	.animation-name( slideOutToRight );
}


// footer

.popout__footer {
	&:extend(.u-clearfix all);
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
	font-weight: 500;
	padding-bottom: .5em;
	padding-top: .5em;
	position: relative;
	z-index: 1; // above the scrollable area
}
.popout__footer-button--apply  {
	float: left;
	font-weight: bold;
	margin-left: -1em;
}
.popout__footer-button--cancel {
	float: right;
	margin-right: -1em;
}


// body + form stuff

.popout__body {
	padding-bottom: @popout-gutter;
	padding-top: @popout-gutter;

	.FormField:last-child,
	.FormRow {
		margin-bottom: 0;
	}
	.FormLabel {
		width: 100px;
	}
}
