extends ../../templates/layout/base

include ../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 Getting Started Guide
			p.lead This guide steps you through how to create a KeystoneJS site. 
				a(href='/getting-started') There's also a generator.
	
block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			
			h2
				a(name="introduction")
				| Introduction
				
			.alert.alert-warning This guide is currently being updated to match the new Yeoman Generator.
			
			p KeystoneJS makes it easy to build database-driven websites, applications and APIs in node.js.
			p Under the hood, KeystoneJS uses the <a href="http://expressjs.com" target="_blank">express.js</a> web server framework, and a <a href="http://mongodb.com" target="_blank">MongoDB</a> database via the <a href="mongoosejs.com" target="_blank">mongoose</a> object modelling framework.
			
			.contextual-note
				h4 Simple vs. Flexible
				p Keystone is designed to make complicated things simple, without limiting the power or flexibility of node.js or the frameworks it is built on.
				p This guide will show you how to build a KeystoneJS website using the default project structure and options.
				p To learn more about how things work under the hood, and how you can extend or replace features, we strongly recommend reading the <a href="https://github.com/JedWatson/keystone" target="_blank">source code</a>.
			
			a(name="introduction-prerequisites")
			h3 Prerequisites
			
			ol.fancy-list
				li Before you begin, make sure you have <a href="http://nodejs.org/download" target="_blank">Node.js</a> and <a href="http://www.mongodb.org/downloads" target="_blank">MongoDB</a> installed.
				li You'll need a reasonable working knowledge of Javascript to use KeystoneJS, as well as familiarity with basics such as database concepts, and using node / npm etc.
				li In the guide we'll also be using <a href="http://jade-lang.com" target="_blank">Jade</a> for our view templates and <a href="http://lesscss.org" target="_blank">LESS</a> for our CSS templates. In your own project you can use any template language you like; see <a href="#templates_other">using other template languages</a> (below) for more information.
			
			a(name="introduction-productionvsdevelopment")
			h3 Production vs. Development
			
			p Keystone applies different settings in production and development modes. The environment will default to <code>development</code>, so you should set the <code>NODE_ENV</code> environment variable to <code>production</code> on your production servers for better performance.
			p Your app can detect which environment it is running in by calling <code>keystone.get('env')</code>.
			
			a(name="gettingstarted")
			h2 Getting Started
			
			a(name="gettingstarted-usingyeoman")
			h3 Using the Yeoman Generator
			
			p The easiest way to get started with KeystoneJS is to use our new Yeoman Generator.
			p We're still updating our getting started guide to reflect this; in the meantime head over to the <a href="https://github.com/JedWatson/generator-keystone" target="_blank">KeystoneJS Yeoman Generator</a> page and follow the instructions there.
			p Running <code>yo keystone</code> will take all the work out of following the guide below, so once you've got your new project, continue reading to follow along with what it did.
			
			a(name="gettingstarted-startinganewproject")
			h3 Starting a new project
			
			p Create a new directory for your project, then add the following two files which are responsible for setting up your project and starting your webserver.
			
			.code-header
				h4 package.json
				p This file describes our project for npm, including the fact that it depends on <code>keystone</code>.
			pre: code.language-javascript
				| {
				|   "name": "my-project",
				|   "version": "0.0.1",
				|   "private": true,
				|   "dependencies": {
				|     "keystone": "latest",
				|     "underscore": "latest"
				|   },
				|   "engines": {
				|     "node": "0.10.x",
				|     "npm": "1.3.x"
				|   },
				|   "scripts": {
				|     "start": "web.js"
				|   }
				| }
			
			p.note Note we're also requiring the <a href="http://underscorejs.org">underscore library</a>, because we'll use some of its functionality later. You can use any other packages you like from <a href="https://npmjs.org">npm</a> in your Keystone application by adding them to your <code>package.json</code>.
			
			.code-header
				h4 web.js
				p This is the script that will run our keystone website.
			pre: code.language-javascript
				| var keystone = require('keystone');
				| keystone.init({
				|   
				|   'name': 'My Project',
				|   
				|   'favicon': 'public/favicon.ico',
				|   'less': 'public',
				|   'static': ['public'],
				|   
				|   'views': 'templates/views',
				|   'view engine': 'jade',
				|   
				|   'auto update': true,
				|   'mongo': 'mongodb://localhost/my-project',
				|   
				|   'session': true,
				|   'auth': true,
				|   'user model': 'User',
				|   'cookie secret': '(your secret here)'
				|   
				| });
				| 
				| require('./models');
				| 
				| keystone.set('routes', require('./routes'));
				| 
				| keystone.start();
			
			p Now, in your console, run <code>npm install</code> from the root folder of your project (where package.json is) to install Keystone.
			p.note For more information about the options Keystone supports, see the <a href="/docs/configuration">configuration guide</a>.
			p.note Note: your web script won't run yet, because it is including models and routes that have not been set up yet. It assumes you follow the conventions in this guide.
			
			.contextual-note
				h4 BYO Express and Mongoose
				p If you want to require Express or Mongoose in your application, instead of having Keystone provide and configure them completely, you can so do.
				p Include them in the dependencies list for your project, then provide them to Keystone using the <code>connect</code> method.
				pre
					| var express = require('express'),
					|     mongoose = require('mongoose'),
					|     app = express(),
					|     keystone = require('keystone').connect(mongoose, app);
			
			
			a(name="gettingstarted-projectstructure")
			h3 Project Structure
			
			p With your package and web scripts in place, it's time to scaffold out containers for the rest of your app. Create the following directory structure:

			pre
				| |--lib
				| |  <span>Custom libraries and other code</span>
				| |--models
				| |  <span>Your application's database models</span>
				| |--public
				| |  <span>Static files (css, js, images, etc.) that are publicly available</span>
				| |--routes
				| |  |--api
				| |  |  <span>Your application's api controllers</span>
				| |  |--views
				| |  |  <span>Your application's view controllers</span>
				| |  |--index.js
				| |  |  <span>Initialises your application's routes and views</span>
				| |  |--middleware.js
				| |  |  <span>Custom middleware for your routes</span>
				| |--templates
				| |  |--includes
				| |  |  <span>Common .jade includes go in here</span>
				| |  |--layouts
				| |  |  <span>Base .jade layouts go in here</span>
				| |  |--mixins
				| |  |  <span>Common .jade mixins go in here</span>
				| |  |--views
				| |  |  <span>Your application's view templates</span>
				| |--updates
				| |  <span>Data population and migration scripts</span>
				| |--package.json
				| |  <span>Project configuration for npm</span>
				| |--web.js
				| |  <span>Main script that starts your application</span>
			
			p We also recommend that your application will be simpler to build and maintain if you mirror the internal structure of your <code>routes/views</code> and <code>templates/views</code> directories as much as possible.
			
			.contextual-note
				h4 Structure
				p This guide assumes you follow the recommendations above, however Keystone doesn't actually enforce any structure, so you're free to make changes to suit your application better.
			
			
			a(name="models")
			h2 Models
			
			p Before you can start your Keystone app, you'll need some data models.
			
			p We're going to start with the <code>User</code> model, which is special - we need it so that Keystone can do authentication and session management.
			
			p Create the following two files in the <code>/models</code> folder:
			
			.code-header
				h4 models/index.js
				p This is the script that includes your models. It doesn't need to export anything.
			pre: code.language-javascript
				| require('./users.js');
			
			.code-header
				h4 models/users.js
				p This script initialises the <code>User</code> model. It doesn't need to export anything, but the model <em>must</em> be registered with Keystone.
			pre: code.language-javascript
				| var keystone = require('keystone'),
				|     Types = keystone.Field.Types;
				| 
				| var User = new keystone.List('User');
				| 
				| User.add({
				|     name: { type: Types.Name, required: true, index: true },
				|     email: { type: Types.Email, initial: true, required: true, index: true },
				|     password: { type: Types.Password, initial: true },
				|     canAccessKeystone: { type: Boolean, initial: true }
				| });
				| 
				| User.register();
			
			
			a(name="models-authentication")
			h3 Authentication and Session Management
			
			p For Keystone to provide authentication and session management to your application, it needs to know a few things (which we've now configured).
			
			p To recap:
			ul.list
				li The option <code>user model</code> must be the name of the Model that Keystone should look in to find your users. If you use a different model name, be sure to set the option correctly.
				li If you want your application to support session management, set the <code>session</code> option to <strong>true</strong>. Loading sessions incurs a small overhead, so if your application doesn't need sessions you can turn this off.
				li Keystone has built-in views for signing in and out. To enable them, set the <code>auth</code> option to <strong>true</strong>. You can also implement custom signin and signout screens in your applications' views.
				li Sessions are persisted using an encrypted cookie storing the user's ID. Make sure you set the <code>cookie secret</code> option to a long, random string.
				li The user model must have a <code>canAccessKeystone</code> property (which can be a virtual method or a stored boolean) that says whether a user can access Keystone's Admin UI or not.
			
			h4 More on Data Models
			
			p For more information on how to set up your application's models, and the full documentation for lists and fields, see the <a href="/docs/database">database guide</a>.

			a(name="routesviews")
			h2 Routes &amp; Views
			
			p Usually, the easiest and clearest way to configure the logic for different routes (or views) in your application is to set up all the bindings single file, then put any common logic (or middleware) in another file.
			p Then, the controller for each route you bind goes in its own file, organised similarly to the template that renders the view.
			p Keystone's <code>importer</code> and Express's middleware support makes this easy to set up.
			
			a(name="routesviews-settingup")
			h3 Setting up your Routes and Middleware
			
			h4 Route index controller
			
			p First, create a <code>routes/index.js</code> file. This is where we bind your application's URL patterns to the controllers that load and process data, and render the appropriate template.
			
			.code-header
				h4 routes/index.js
				p This script imports your route controllers and binds them to URLs.
			pre: code.language-javascript
				| var keystone = require('keystone'),
				|     middleware = require('./middleware'),
				|     importRoutes = keystone.importer(__dirname);
				| 
				| // Common Middleware
				| keystone.pre('routes', middleware.initErrorHandlers);
				| keystone.pre('routes', middleware.initLocals);
				| keystone.pre('render', middleware.flashMessages);
				| 
				| // Handle 404 errors
				| keystone.set('404', function(req, res, next) {
				|     res.notfound();
				| });
				| 
				| // Handle other errors
				| keystone.set('500', function(err, req, res, next) {
				|     var title, message;
				|     if (err instanceof Error) {
				|         message = err.message;
				|         err = err.stack;
				|     }
				|     res.err(err, title, message);
				| });
				| 
				| // Load Routes
				| var routes = {
				|     views: importRoutes('./views')
				| };
				| 
				| // Bind Routes
				| exports = module.exports = function(app) {
				|     
				|     app.get('/', routes.views.index);
				|     
				| }

			h4 Stepping through the route controller index
			
			ul
				li Load <code>keystone</code>, the <code>middleware.js</code> file (below), and create an <code>importer</code> for the current directory
				li Bind middleware (below) that
					ul
						li Initialises our basic error handlers
						li Initialises common local variables for our view templates
						li Retrieves flash messages from session before the view template is rendered
				li Tell Keystone how to handle <code>404</code> and <code>500</code> errors
				li Use the importer to load all the route controllers in the <code>/routes/views</code> directory
				li Export a method that binds the index route controller to <code>GET</code> requests on the root url <code>/</code>
					ul
						li The <code>app</code> argument to this method our express app, so anything you can do binding routes in express, you can do here.
			
			p Additional route controllers that you add to your app should be added using <code>app.get</code>, <code>app.post</code> or <code>app.all</code> under your root controller.
			
			
			a(name="routesviews-middleware")
			h3 Common Route Middleware
			
			p Putting your common middleware in a separate <code>routes/middleware.js</code> file keeps your route index nice and clean. If your middleware file gets too big, it's a good idea to restructure any significant functionality into custom modules in your projects <code>/lib</code> folder.
			p Now we'll add the basic middleware to get your app up and running with default behaviours:
			
			.code-header
				h4 routes/middleware.js
				p This script includes common middleware for your application routes
			pre: code.language-javascript
				| var _ = require('underscore'),
				|     keystone = require('keystone');
				| 
				| /**
				|     Initialises the standard view locals.
				|     Include anything that should be initialised before route controllers are executed.
				| */
				| exports.initLocals = function(req, res, next) {
				|     
				|     var locals = res.locals;
				|     
				|     locals.user = req.user;
				|     
				|     // Add your own local variables here
				|     
				|     next();
				|     
				| };
				| 
				| /**
				|     Inits the error handler functions into `req`
				| */
				| exports.initErrorHandlers = function(req, res, next) {
				|     
				|     res.err = function(err, title, message) {
				|         res.status(500).render('errors/500', {
				|             err: err,
				|             errorTitle: title,
				|             errorMsg: message
				|         });
				|     }
				|     
				|     res.notfound = function(title, message) {
				|         res.status(404).render('errors/404', {
				|             errorTitle: title,
				|             errorMsg: message
				|         });
				|     }
				|     
				|     next();
				|     
				| };
				| 
				| /**
				|     Fetches and clears the flashMessages before a view is rendered
				| */
				| exports.flashMessages = function(req, res, next) {
				|     
				|     var flashMessages = {
				|         info: req.flash('info'),
				|         success: req.flash('success'),
				|         warning: req.flash('warning'),
				|         error: req.flash('error')
				|     };
				|     
				|     res.locals.messages = _.any(flashMessages, function(msgs) { return msgs.length }) ? flashMessages : false;
				|     
				|     next();
				|     
				| };
			
			h4 Middleware functions
			
			p Keystone expects middleware functions to accept the following arguments:
			ul.options
				li <code>req</code> - an express request object
				li <code>res</code> - an express response object
				li <code>next</code> - the method to call when the middleware has finished running (including any internal callbacks)
			
			h4 Flash message support (no, not that flash)
			
			p Keystone includes support for 'flashing' messages to your visitors via session. The default setup above supports four categories, all of which can be styled differently:
			ul.options
				li <code>info</code>
				li <code>success</code>
				li <code>warning</code>
				li <code>error</code>
			p You can easily support other types of messages by updating your middleware and the .jade template that renders them (which we'll get to below).
			p To use flash messages in your route controllers, do this:
			p: code req.flash('info', 'Some information!');
			p Messages use session so they survive redirects, and will only be displayed to the user once, making them perfect for status messages (e.g. "Your changes have been saved") or form validation (e.g. "Please enter a valid email address").
			p Some Keystone features (such as the Update Handler) can automatically generate flash messages for you, and expect the categories above to be available.
			
			
			a(name="routesviews-firstview")
			h3 Your first View
			
			p Now we're going to set up your first route controller (for the index page), and the template it will render.
			
			p The importer (above) expects the directory you ask it for to include <code>.js</code> or <code>.coffee</code> files that export a single method accepting the following arguments:
			ul.options
				li <code>req</code> - an express request object
				li <code>res</code> - an express response object
			
			p Our first view controller is going to be very simple - just rendering a template. Create an <code>routes/views/index.js</code> file like this:
			
			.code-header
				h4 routes/views/index.js
				p The route controller for our home page view
			pre: code.language-javascript
				| var keystone = require('keystone');
				| 
				| exports = module.exports = function(req, res) {
				|     
				|     var view = new keystone.View(req, res);
				|     
				|     view.render('index');
				|     
				| }
			
			a(name="routesviews-templates")
			h3 Templates
			
			p Now, for the template our route will render. The <code>render</code> method looks in the <code>views</code> directory specified in our <code>web.js</code>, which we set to <code>/templates/views</code>.
			p In this guide, we're going to use <strong>Jade</strong> for our templates. To learn more about Jade, visit <a href="http://jade-lang.com" target="_blank">jade-lang.org</a>, or check out the great <a href="http://naltatis.github.io/jade-syntax-docs/" target="_blank">live syntax documentation</a> to learn by example.
			p First up, create <code>templates/views/index.jade</code>:

			.code-header
				h4 templates/views/index.jade
				p The template for our home page view
			pre
				| extends ../layouts/base
				| 
				| block content
				|     h1 Hello World
			
			p Jade comes with some great features to simplify templates - including using layouts that define regions. We're going to use a layout called <code>templates/layout/base.jade</code>, which is included on the first line of the file above:
			
			.code-header
				h4 templates/layouts/base.jade
				p The base layout for our view templates
			pre: code
				| include ../mixins/flash-messages
				| 
				| doctype html
				| html
				|     head
				|         meta(charset="utf-8")
				|         meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
				|         
				|         title= title || 'My Keystone Website'
				|         link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
				|         link(href="/styles/site.min.css", rel="stylesheet")
				|         
				|         block css
				|         block head
				|     body
				|         
				|         #header My Keystone Website
				|         
				|         #body
				|             
				|             block intro
				|             
				|             +flash-messages(messages)
				|             
				|             block content
				|         
				|         #footer Powered by &lt;a href='http://keystonejs.com', target='_blank'&gt;KeystoneJS&lt;/a&gt;.
				|     
				|     script(src='/js/lib/jquery/jquery-1.10.2.min.js')
				|     
				|     block js
			
			p We're also going to create a <code>templates/mixins/flash-messages.jade</code> template to include the <code>flash-messages</code> mixin. Including mixins in your layout or view templates is a great way to keep your layout and view files clean, and re-use mixins across multiple views.
			
			.code-header
				h4 templates/mixins/flash-messages.jade
				p Our flash-messages mixin
			pre: code
				| mixin flash-messages(messages)
				|     if messages
				|         #flash-messages.container
				|             each message in messages.info
				|                 +flash-message(message, 'info')
				|             each message in messages.success
				|                 +flash-message(message, 'success')
				|             each message in messages.warning
				|                 +flash-message(message, 'warning')
				|             each message in messages.error
				|                 +flash-message(message, 'danger')
				|                 
				| mixin flash-message(message, type)
				|     div(class='alert alert-' + type)
				|         if utils.isObject(message)
				|             if message.title
				|                 h4= message.title
				|             if message.detail
				|                 p= message.detail
				|             if message.list
				|                 ul
				|                     each item in message.list
				|                         li= item
				|         else
				|             = message
			
			a(name="templates_other")
			.contextual-note
				h4 Using other template languages
				p KeystoneJS supports <a href='http://expressjs.com/api.html#app.engine', target='_blank'>any template language supported by express</a>.
				p Use the <code>view engine</code> option to specify the template language you want to use (it will default to <code class="data-type">jade</code>).
				p If you want to use a custom template engine, set the <code>custom engine</code> option as well. For instance, <a href="http://embeddedjs.com/">ejs</a> is supported by express by default, but you might want to use <a href="https://github.com/RandomEtc/ejs-locals">ejs.locals</a> as a template engine in order to benefit from get extensions.

				pre: code.language-javascript
					| // Modified web.js to use the ejs-locals custom template engine.
					| var keystone = require('keystone');
					| var engine   = require('ejs-locals');
					| keystone.init({
					|   ...
					|   'custom engine': engine,
					|   'view engine': 'ejs',
					|   ...
					| });
			
			
			a(name="routesviews-publicassets")
			h3 Public Assets
			
			p You'll want to add your own css, javascript, images and other files to your project. In the examples above, we're including <code>/styles/site.min.css</code> and <code>/js/lib/jquery-1.10.2.min.js</code>.
			p Keystone will serve any static assets you place in the <code>public</code> directory. This path is specified in <code>web.js</code> by the <code>static</code> option.
			p It will also automatically generate <code>.css</code> or compressed <code>.min.css</code> files when a corresponding <code>.less</code> file is found in the <code>public</code> folder, as specified in <code>web.js</code> by the <code>less</code> option. For more information on LESS, see <a href="http://lesscss.org" target="_blank">lesscss.org</a>.
			
			//- h4 More on Routes &amp; Views
			//- 
			//- p For more information on how to set up your application's routes and views, and the full documentation for the View class, see the <a href="/docs/database">routes &amp; views guide</a>.
			
			a(name="runningyourapp")
			h2 Running your app
			
			p You're now (almost) ready to run your app! Before we do, though, we should add a <strong>User</strong> so you can sign in to Keystone's Admin UI.
			
			a(name="runningyourapp-writingupdates")
			h3 Writing Updates
			
			p To do this, we're going to create an update script, which Keystone will automatically run before starting the web server.
			
			p Keystone's automatic update functionality is enabled in <code>web.js</code> by the <code>auto update</code> option.
			
			p When the option is set to <code>true</code>, Keystone will scan the <code>updates</code> directory for <code>.js</code> files, each of which should export a method accepting a single argument:
			ul
				li <code>next</code> - the method to call when the update has finished running (including any internal callbacks)
			
			p Updates are ordered using <a href="http://semver.org" target="_blank">Semantic Versioning</a>, and Keystone will only run them once (successfully executed updates are stored in your database, in a collection called <code>app_updates</code>).
			
			p Update file names should match the pattern <code>x.x.x-description.js</code> - anything after the first hyphen is ignored, so you can describe the update in the filename.
			
			p So to automatically add a new Admin User when your app first launches, create a <code>updates/0.0.1-admin.js</code> file:
			
			.code-header
				h4 updates/0.0.1-admin.js
				p Update script to add the first admin (change to your own name, email and password)
			pre: code.language-javascript
				| var keystone = require('keystone'),
				|     User = keystone.list('User');
				| 
				| exports = module.exports = function(done) {
				|     
				|     new User.model({
				|         name: { first: 'Admin', last: 'User' },
				|         email: 'admin@keystonejs.com',
				|         password: 'admin',
				|         canAccessKeystone: true
				|     }).save(done);
				|     
				| };
			
			p.note You probably don't want to store your real password in the code, so it's a good idea to set the default password to something simple, then sign in and change it using Keystone's Admin UI after you start your app for the first time.
			
			a(name="runningyourapp-startingkeystone")
			h3 Starting Keystone
			
			p Now you're ready to run your application, so execute the following in your project's main folder:
			p: code node web
			
			p Keystone will automatically apply the update, and then start a web server on the default port, 3000.
			
			p To see your home page, point your browser at <a href="http://localhost:3000" target="_blank">localhost:3000</a>. You should see our <strong>Hello World!</strong> message.
			
			p To sign in to Keystone's Admin UI, go to <a href="http://localhost:3000/keystone" target="_blank">localhost:3000/keystone</a>. Use the email and password you put in the update script above to sign in, and you'll be redirected to Keystone's home page.
			
			
			a(name="runningyourapp-nextstep")
			h3 Next Steps
			
			p ... you're done! Well, not really. It's time to start building your app now. For more information on list options and the field types Keystone supports, browse the <a href="/docs/database">database guide</a>.
			
			p You should also <a href="https://twitter.com/keystonejs" target="_blank">Follow @KeystoneJS on Twitter</a> for news and updates, <a href="https://github.com/JedWatson/keystone/" target="_blank">Star KeystoneJS on GitHub</a>, and discuss this guide (or anything KeystoneJS related) on the <a href="https://groups.google.com/d/forum/keystonejs" target="_blank">KeystoneJS Google Group</a>.
			
			p We've also got more <a href="/examples">Examples and Sample Code</a> for you on the examples page.
			
			p Enjoy using KeystoneJS!
