include ../mixins/flashMessages

doctype 5
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="/keystone/styles/keystone.css")
		block css
		
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		block head
	body
		nav(role='navigation')#header.navbar.navbar-default.navbar-static-top: .container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-headernav-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href='/keystone', class=(section == 'home' ? 'active' : null)).navbar-brand=brand
			.collapse.navbar-collapse.navbar-headernav-collapse
				ul.nav.navbar-nav: each list in lists
					li(class=(section == list.key ? 'active' : null)): a(href='/keystone/' + list.path)= list.label
				if signout
					ul.nav.navbar-nav.navbar-right
						li: a(href=signout).signout Sign Out
	
		#body: .container
			block intro
			+flash-messages(messages)
			block content
		
		#footer: .container
			| Powered by 
			a(href='http://github.com/JedWatson/keystone', target='_blank') Keystone
			| .
		
		script(src="/keystone/js/lib/underscore/underscore-1.4.4.min.js")
		script(src="/keystone/js/lib/jquery/jquery-1.10.2.min.js")
		script(src="/keystone/js/lib/moment/moment-1.7.2.min.js")
		script(src="/keystone/js/lib/move/move-0.1.1.min.js")
		
		link(rel="stylesheet", href="/keystone/js/lib/select2/select2-3.3.2.css")
		link(rel="stylesheet", href="/keystone/js/lib/select2/theme.css")
		script(src="/keystone/js/lib/select2/select2-3.3.2.js")
		
		link(rel="stylesheet", href="/keystone/js/lib/pikaday/pikaday-1.1.0.css")
		script(src="/keystone/js/lib/pikaday/pikaday-1.1.0.js")
		script(src="/keystone/js/lib/pikaday/pikaday.jquery-1.1.0.js")
		
		script(src="/keystone/js/common/ui.js")
		script(src="/keystone/js/common/ui-alt-text.js")
		script(src="/keystone/js/common/ui-sortable.js")
		
		script.
			Keystone = {};
		
		//- Page Scripts
		block page-js