//
// BUTTONS
// --------------------------------------------------


// Alternate button styles
.btn-primary {
	.button-version(@btn-primary-color; @btn-primary-bg; @btn-primary-bg);
}
.btn-success {
	.button-version(@btn-success-color; @btn-success-bg; @btn-success-bg);
}
.btn-warning {
	.button-version(@btn-warning-color; @btn-warning-bg; @btn-warning-bg);
}
.btn-danger {
	.button-version(@btn-danger-color; @btn-danger-bg; @btn-danger-bg);
}

// Add some horizontal spacing between inline buttons

.btn + .btn {
  margin-left: 5px;
  
  &.btn-block { margin-left: 0; }
}


// ... except in .btn-groups

.btn-group {
  .btn + .btn {
    margin-left: -1px;
  }
}


// Contextual emphasis

.btn-link {
	&.text-muted          { color: @text-muted; }
	&.text-primary        { color: @brand-primary; }
	&.text-warning        { color: @state-warning-text; }
	&.text-danger         { color: @state-danger-text; }
	&.text-success        { color: @state-success-text; }
	&.text-info           { color: @state-info-text; }
}

/*
	Button companion
	==============================
	
	For a vertically aligned & horizontally spaced label/note beside your button
*/
.btn-companion,
.btn-companion-lg,
.btn-companion-sm,
.btn-companion-xs {
	.inline-align();
}
.btn-companion {
	.button-size(@padding-base-vertical + 2; @padding-base-horizontal; @font-size-base; @line-height-base; none);
}
.btn-companion-lg {
	.button-size(@padding-large-vertical + 2; @padding-large-horizontal; @font-size-large; @line-height-large; none);
}
.btn-companion-sm,
.btn-companion-xs {
	.button-size(@padding-small-vertical + 2; @padding-small-horizontal; @font-size-small; @line-height-small; none);
}
.btn-companion-xs {
	padding: 1px 5px;
}