//
// DETAILS SCREEN
// --------------------------------------------------

.item-id {
	float: right;
	color: #999;
}

.item-id + h3 {
	margin-top: 0;
}

.toolbar {
	background-color: white;
	border-top: 1px solid @gray-lighter;
	margin-top: 20px;
	padding: 20px 0;
	z-index: 1;
}