.field-type-files {
	.file-item {
		margin-bottom: 10px;
		clear: both;
		line-height: 32px;
	}

	.file-icon {
		display: block;
		float: left;
		width: 32px;
		height: 32px;
	}

	.file-filename {
		color: #000;
	}

	span {
		color: #aaa;
		margin-left: 10px;
	}

	.file-action {
		cursor: pointer;
	}

	.file-note-upload {
		color: #009dd5;
	}

	.file-note-delete {
		color: #ff003d;
	}

	.file-delete {
		color: red;
		cursor: pointer;
	}

	.file-delete-undo {
		color: blue;
	}
}
