// 
// Local File
// ==============================




// Singular
// ------------------------------

.field-type-localfile {
	.file-preview {
		position: relative;
		line-height: 0px;
		float: left;
		margin-right: 10px;
	}

	.file-details {
		overflow: hidden;
		.file-values {
			.field-value {
				width: auto;
				min-width: 1px;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
		.file-message {
			margin-left: 0px;
			font-size: 12px;
			width: 110px;
			text-align: center;
			width: 100%;
		}
	}

	.file-details + .file-toolbar {
		margin-top: @input-vspacing;
	}

	.upload-queued, .delete-queued {
		.alert {
			margin-right: 10px;
			margin-bottom: 10px;
			float: left;
			padding: 6px 12px;
		}
	}
}




// Multiple
// ------------------------------

.field-type-localfiles {
	.sortable-placeholder {
		border: 1px dashed #777;
		background: none;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 10px;
		margin-bottom: 0px;
		float: left;
	}
	.file-sortable {
		position: relative;
		float:left;
		cursor:pointer;
		min-width: 80px;
		min-height: 80px;
		margin-left: 0px;
		margin-right: 10px;
	}
	.file-preview.remove {
		img {
			.opacity(.3);
		}
	}
	.delete-pending {
		position: absolute;
		font-size: 1.7em;
		left:50%;
		top:50%;
		margin-left:-13px;
		margin-top:-44px;
	}
}