//
// FORM ELEMENTS
// --------------------------------------------------

/*
	Form control wrapper
	==============================
	
	.form-control-wrapper should be exclusively used for attaching validation to
	when no other ancestor is applicable. It has no ornamental styles of it's own.
*/

// Adding v-spacing between form elements
.field,
.form-control-wrapper,
.form-horizontal,
.form-control,
.form-row,
.row {
	& + & {
		margin-top: 12px;
	}
}

// Form headings
.form-heading {
	margin-top: 50px;
}

// All input
.form-control {
	-webkit-appearance: none;
}

// Alerts
.alert {
	border: 0 none;
	padding: @padding-large-vertical @padding-large-horizontal;
}

// Initially hidden fields
.field-hidden,
.overwrite,
.extras,
.field-message,
.change-password {
	display: none;
}

// Big ass fields (name fields)
.item-name .form-control {
	margin-bottom: 20px;
}

// Disabled fields
.form-control.disabled {
	background-color: @input-bg-disabled;
}

// The note that sits beneath a field
.field-note {
	.help-block;
}

// Field value. Used for non-editable fields
.field-value {
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: @padding-base-vertical @padding-base-horizontal;
	
	&:empty {
		display: none;
	}
}

// align label copy with field text
label {
	font-weight: normal;
	padding-top: @padding-base-vertical + 1; // make up for border
}

// limit textareas to be vertically resizable only, set heights
textarea {
	.resizable(vertical);
	min-height: 100px;
	
	&.tall {
		min-height: 200px;
	}
}

// radios + checkboxes
.radio,
.checkbox {
	margin-bottom: 0;
	margin-top: 0;
}

// columns separated fields
// need space when the form collapses
.form-row {
	.make-row(10px);
	
	[class^="col-"] { padding-left: 5px; padding-right: 5px; }
	
	@media (max-width: @screen-sm) {
		[class^="col-"] + [class^="col-"] {
			margin-top: .8em;
		}
	}
}

// location specific
.field-postcode {
	@media (min-width: @screen-sm) {
		text-align: right;
	}
}

// ============================================================
// * * *
// ============ OLD =============
// * * *
// ============================================================


// cloudinary
.field.type-cloudinaryimage {
	
	.clearfix;
	margin-bottom: 10px;
	
	.field-label {
		margin-bottom: 8px;
	}
	
	.image-preview {
		float: left;
		margin-right: 10px;
	}
	
	.has-image {
		.image-details, .image-toolbar {
			margin-left: 110px;
		}
	}
	
	.upload-queued {
		border-radius: 3px;
		display: none;
		background: #e5fbe5;
		border: 1px solid #c5ddc5;
		margin-right: 10px;
		padding: @padding-base-vertical @padding-base-horizontal;
	}
}
.ui-related-item {
	.field-value;
	background: #white;
	//border: 1px solid #72b3d8;
	color: #0089cb;
	margin-right: 5px;
	text-decoration: none;
	
	&:hover {
		background-color: #f0f8fc;
		border-color: #80c4e5;
		color: #0c699e;
	};
}

.field-upload {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0.01;
}

.field-message {
	
	display: none;
	min-height: 30px;
	
	span {
		display: inline-block;
		background: #f9f9f9;
		border: 1px solid #ccc;
		color: #999;
		margin-right: 10px;
		padding: 5px 10px;
		// .border-radius(3px);
		cursor: default;
	}
}
