//
// ITEM LIST
// --------------------------------------------------

//
// Creating
// --------------------------------------------------
.create-item {
	
	margin-bottom: 20px;
	
	.form, .toolbar-create {
		display: none;
	}
	
	.toolbar {
		border-top: none;
		padding: 0;
	}
	
}


//
// List Pagination
// --------------------------------------------------
.list-pagination {
	.clearfix;
	color: @gray-light;
	display: block;
	font-size: @font-size-base;
	margin: 0 0 15px;
	
	.count {
		.inline-align();
		margin-right: 10px;
	}
	.pagination {
		.inline-align();
		margin: 0;
	}
}


//
// Searching
// --------------------------------------------------
.list-toolbar {
	// margin-top: 15px;
	padding-bottom: 20px;
}
.search-list {
	
	form {
		margin-bottom: 0;
	
		.search-button {
			margin-top: 0 !important;
		}
	}
	
	.search-list-field {
		position: relative;
	}
	.search-list-clear {
		color: @gray-light;
		font-weight: bold;
		position: absolute;
		padding: @padding-base-vertical @padding-base-horizontal;
		top: 0;
		right: 5px;
		
		&:hover,
		&:focus {
			color: @brand-danger;
			outline: 0 none;
			text-decoration: none;
		}
		&:active {
			color: darken(@brand-danger, 20%);
		}
	}
	
}


//
// Sorting
// --------------------------------------------------
.list-sort-dropdown {
	
	.caret {
		border-width: @caret-width-large;
		border-bottom-width: 0;
		border-top-color: @link-color;
	}
	
	.dropdown-toggle:focus,
	.dropdown-toggle:hover {
		text-decoration: none;
		.caret {
			border-top-color: @link-hover-color;
		}
	}
	
	// menu
	.dropdown-menu > .active > a {
		&,
		&:hover,
		&:focus {
			// background-color: @gray;
		}
	}
	
}


//
// Filtering
// --------------------------------------------------
.list-filters {
	
	.filter,
	.list-filters-action {
		margin-bottom: 15px;
	}
	.filter-options {
		padding: 5px 0 0 24px;
	}
	.filter-input {
		.inline-align();
		
		&.filter-input-lg {
			width: 300px;
		}
		&.filter-input-md {
			width: 200px;
		}
		&.filter-input-sm {
			width: 100px;
		}
		
		select {
			font-size: @font-size-small;
			height: 22px;
			width: 100%;
		}
	}
	
	// clearing
	.clear-filter {
		color: @gray-light;
		font-weight: bold;
		margin-right: 7px;
		
		&:hover,
		&:focus {
			color: @brand-danger;
			outline: 0 none;
			text-decoration: none;
		}
		&:active {
			color: darken(@brand-danger, 20%);
		}
	}
	
}

// icons that represent field types
.listicon {
	.inline-align();
	.square( 16px );
	background-repeat: no-repeat;
	
	&.listicon-text 						{ background-image: url( "/keystone/images/icons/16/field-text.png" ); }
	&.listicon-textarea 				{ background-image: url( "/keystone/images/icons/16/field-textarea.png" ); }
	&.listicon-html							{ background-image: url( "/keystone/images/icons/16/field-html.png" ); }
	&.listicon-url 							{ background-image: url( "/keystone/images/icons/16/field-url.png" ); }
	&.listicon-email 						{ background-image: url( "/keystone/images/icons/16/field-email.png" ); }
	&.listicon-select 					{ background-image: url( "/keystone/images/icons/16/field-select.png" ); }
	&.listicon-location					{ background-image: url( "/keystone/images/icons/16/field-location.png" ); }
	&.listicon-boolean 					{ background-image: url( "/keystone/images/icons/16/field-boolean.png" ); }
	&.listicon-cloudinaryimage 	{ background-image: url( "/keystone/images/icons/16/field-image.png" ); }
	&.listicon-relationship 		{ background-image: url( "/keystone/images/icons/16/field-numericSelect.png" ); }
	&.listicon-date 						{ background-image: url( "/keystone/images/icons/16/field-date.png" ); }
	&.listicon-datetime					{ background-image: url( "/keystone/images/icons/16/field-datetime.png" ); }
	&.listicon-money						{ background-image: url( "/keystone/images/icons/16/field-money.png" ); }
	&.listicon-number						{ background-image: url( "/keystone/images/icons/16/field-number.png" ); }
}


//
// Items List
// --------------------------------------------------
table.items-list {
	table-layout: fixed;
	width: 100%;
	
	.control {
		padding: @table-cell-padding;
		width: 18px;
		
		a {
			display: block;
			width: 16px;
			height: 18px;
			padding: 0px;
			background: url('/keystone/images/icons/list-controls.png') top left no-repeat;
			opacity: 0.5;
		}
		a:hover {
			opacity: 1;
		}
		.control-delete {
			background-position: 0 0;
		}
		.control-sort {
			background-position: -32px 0;
			cursor: move;
		}
	}
	.control + .control {
		padding-left: @table-cell-padding / 2;
	}
	
	.control-delete i {
		background-position: 0 0;
	}
	
	img {
		margin: @table-cell-padding;
	}
	
}
