extends ../../../common/templates/layout/base

include ../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 Documentation
			p.lead Learn how to build database-driven websites, applications and APIs in Node.js.
	
block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			h2 Welcome
			
			h3 Let's jump in
			p.lead.text-muted Use the sidebar on the left to navigate the docs.
			.row
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/getting-started') Getting Started
							p The getting started guide walks you through how to manually setup a KeystoneJS website. it's a great place to begin.
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/configuration') Configuration
							p Once you're comfortable with KeystoneJS it's time to configure. There are many possible settings and services to let you build your app or website.
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/database') Database
							p KeystoneJS builds on top of Mongoose schema's to create "Lists", which contain items. Lists are available in the Admin UI.
