.btn-group.btn-group-xs(data-toggle='buttons')
	button(type='button', class=ops.value !== false ? 'active' : '', data-opt='value', data-value='true').btn.btn-default
		input(type="radio", name="options")
		| checked
	button(type='button', class=ops.value === false ? 'active' : '', data-opt='value', data-value='false').btn.btn-default
		input(type="radio", name="options")
		| not checked
