doctype
html.no-js
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title
            e2e test frontend
        meta(name="description", content="e2e test frontend")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="main.css")
    body
        h1 Hello Keystoner!
        h2 Welcome to the e2e test front page...make sure they all pass :=)
        a(href="/keystone")
            h3 Goto the Admin UI
        h4 Admin UI Login Info:
        p.indented Email: user@test.e2e
        p.indented Password: test
