extends ../templates/layout/base

block content
	.page-header.page-header
		.container
			h1 404
			p.lead Oh snap! That page doesn't exist
	//- include ../templates/includes/page-subheader
	
	.container: .row
		.col-sm-3: .docs-sidebar-info
			p You're on this page because the page you requested has been moved or deleted.
			p Check out the links on the right to find your way.
		.col-sm-9: .docs-content
			//- TODO Predict where they were headed
			//- p(style="margin-top: 0;").contextual-note We think you were looking for 
				a(href='/docs/guides') /guides
			
			.row
				.col-sm-6
					h3 On this site
					ul.list-unstyled.lead
						li: a(href='/getting-started', title='KeystoneJS Getting Started') Getting Started
						li: a(href='/docs/configuration', title='KeystoneJS Configuration') KeystoneJS Configuration
						li: a(href='/docs/database', title='KeystoneJS Database') Database Setup
						li: a(href='/examples', title='KeystoneJS Application') Examples Applications
				.col-sm-6
					h3 Other resources
					ul.list-unstyled.lead
						li: a(href='https://github.com/keystonejs/keystone', target='_blank', title='Github Project') Github Project
						li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website') Demo Website
						li: a(href='https://groups.google.com/forum/#!forum/keystonejs', target='_blank', title='Demo Website') Google Group
