extends ../../common/templates/layout/base

block intro
	.page-header
		.container
			h1 示例
			p.lead 下面这些例子很好地展示了Keystone的能力，以及如何使用它的各种功能。
	
block content
	.container-sm(style='margin-bottom: 3em;')
		
		a(name='app')
		h2 应用程序

		a(name='app-demo')
		h3 演示App
		
		p 演示app是个简单实现，演示了如何创建一个博客、照片库和联系表单，以及如何设置会话管理、错误处理和csv下载。
		p 你还可以用demo账号登录到Keystone管理界面中看看它是如何工作的。
		ul.list-inline
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo website').btn.btn-primary 打开网站
			li: a(href='http://github.com/JedWatson/keystone-demo', target='_blank', title='View on GitHub').btn.btn-default 查看GitHub项目
		
		a(name='app-sydjs')
		h3 SydJS网站
		
		p <a href='http://www.thinkmill.com.au/' target='_blank'>Thinkmill</a>的团队用Keystone为SydJS（悉尼Javascript聚会）创建了一个新网站。
		p 它是一个聚会、会员、链接、博客、组织和教练的数据库，还支持创建账号，以及用Facebook、Twitter和GitHub账号登录。
		p 它还包含新的客户端内容管理功能，有供会员管理自己档案、响应聚会和提交文章和链接的页面。
		ul.list-inline
			li: a(href='http://www.sydjs.com', target='_blank', title='Demo website').btn.btn-primary 打开网站
			li: a(href='http://github.com/JedWatson/sydjs-site', target='_blank', title='View on GitHub').btn.btn-default 查看GitHub项目
		
		a(name='production')
		h2 用于生产中的KeystoneJS

		p 在生产环境中由KeystoneJS支撑的网站和应用程序越来越多 - 这里有几个我们比较喜欢的。
		p 你启用了使用KeystoneJS的网站吗？告诉我们吧！ Tweet 
			a(href='https://twitter.com/KeystoneJS', target='_blank') @KeystoneJS

		h3 制作 &amp; 构建
		p Make &amp; Build is a team of digital craftsmen in Atlanta, GA, and you can read their slidedeck about moving from Wordpress to KeystoneJS 
			a(href='https://s3.amazonaws.com/mnb_keystone/slidedecks/keystonejs.pdf', target='_blank', title="Make & Build Transition to KeystoneJS Slidedeck") here
			| .
		ul.list-inline
			li: a(href='http://makeandbuild.com', target='_blank', title="Make & Build").btn.btn-primary Launch the site

		h3 Gold Class Butler
		p KeystoneJS powers the API and payment integration behind Event Cinemas' mobile app for ordering food and drink while you're watching a movie.
		ul.list-inline
			li: a(href='http://www.goldclassbutler.com.au', target='_blank', title="Gold Class Butler").btn.btn-primary Launch the site
		
		h3 Macmillan Connect
		p Macmillan Education's next generation of learning applications is powered by KeystoneJS, which provides their licensing system, back-end API, progress synchronisation and mark book generation for teachers.
		ul.list-inline
			li: a(href='http://www.macmillanconnect.com.au', target='_blank', title="Macmillan Connect").btn.btn-primary Launch the site
		
		h3 Yoga Australia
		p The Yoga Teachers Association of Australia's website and back-end management system is built with KeystoneJS.
		ul.list-inline
			li: a(href='http://www.yogaaustralia.org.au', target='_blank', title="Yoga Australia").btn.btn-primary Launch the site
		
		h3 Suit Shop
		p KeystoneJS is behind the beautiful design, dynamic content and appointment setting features and customer area of Suit Shop's website.
		ul.list-inline
			li: a(href='http://www.suitshop.com.au', target='_blank', title="Suit Shop").btn.btn-primary Launch the site

		h3 Tim Pietrusky
		p Tim has created a unique format for his personal blog, to go with the great content. You can read about his experience transitioning to KeystoneJS in 
			a(href='http://timpietrusky.com/restart') this post
			| .
		ul.list-inline
			li: a(href='http://timpietrusky.com', target='_blank', title="Tim Pietrusky").btn.btn-primary Launch the site
		
		h3 BodyMindLife
		p BodyMindLife's KeystoneJS-powered website has dynamic content, events, timetables, and pass purchasing integrated with the MindBodyOnline studio management system.
		ul.list-inline
			li: a(href='http://www.bodymindlife.com.au', target='_blank', title="BodyMindLife Yoga Studio").btn.btn-primary Launch the site
		
		h3 ExhibitionsRUs
		p The ExhibitionsRUs website is a UK e-commerce site with a product catalogue and shopping cart, built by <a href="http://prowebsoftware.net" target="_blank">ProWebSoftware</a> with KeystoneJS.
		ul.list-inline
			li: a(href='https://www.exhibitionsrus.co.uk', target='_blank', title="ExhibitionsRUs").btn.btn-primary Launch the site

		h3 Hood (Social Network)
		p The idea behind this site is to connect positive people of cheerful spirit and a good heart in every possible way.
		ul.list-inline
			li: a(href='http://www.hood.rs/', target='_blank', title='Hood.rs').btn.btn-primary Launch the site
		
		h3 CorkDev.io (Tech Meetup)
		p corkdev.io is an open forum of professionals, hackers, architects and software engineers in Cork, Ireland.
		ul.list-inline
			li: a(href='http://corkdev.io/', target='_blank', title='CorkDev.io').btn.btn-primary Launch the site
		
		h3 HS Hackers Philly
		p The High School Hackers meetup crew in Philly have done a great job of taking our SydJS site and making it their own.
		ul.list-inline
			li: a(href='http://hshackers.org', target='_blank', title='HS Hackers Philly').btn.btn-primary Launch the site
