extends ../../common/templates/layout/base

block homepage-header
	.home-header: .container
		img(src='/images/logo-inverted.svg', alt='KeystoneJS', width=80, height=81)
		h1 以Express和MongoDB为基础搭建的Node.js CMS和web应用程序平台。
		.home-header-buttons
			a(href='/zh/getting-started', title='KeystoneJS getting started guide').btn.btn-lg.btn-primary
				span.hidden-xs 入门
				span.visible-xs 开始
			a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website (new window)').btn.btn-lg.btn-link.hidden-xs 试用Demo
			
		ul.home-header-list-links
			li: a(href='/zh/docs', title='KeystoneJS Documentation') 文档
			li.hidden-xs: a(href='/zh/examples', title='Sample Applications') 例子
			li Current version #{version}
			li: a(href='https://github.com/keystonejs/keystone/blob/master/HISTORY.md', target='_blank', title='View Changelog on GitHub') 新变化
			li Keystone是免费的开源软件。(MIT 授权)
		ul.home-header-list-social
			li: a(href='https://twitter.com/keystonejs', target='_blank')
				i.entypo-social.entypo-twitter
				span.home-header-social-item Follow on Twitter
			li: a(href='http://github.com/keystonejs/keystone', target='_blank')
				i.entypo-social.entypo-github
				span.home-header-social-item GitHub 项目
			

block content
	//- section.intro-section.whatis-section: .container
		.section-header
			h2 什么是KeystoneJS
			p.lead 在Node.js中，用Keystone搭建web应用程序或内容管理网站是最容易的。
	section.intro-section.building-section: .container
		.section-header
			h2 在你需要的功能上领先一步
			p.lead 在Node.js中，用Keystone搭建数据驱动的网站、应用程序和API是最容易的。
		.row
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-leaf
					.feature-content
						h4 Express.js和MongoDB
						p Keystone会为你配置express（node.js事实上的Web服务器），用Mongoose（领先的ODM包）连接你的MongoDB数据库。 
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-shuffle
					.feature-content
						h4 动态路由
						p Keystone从设置MV*程序的最佳实践入手，让你管理模板、视图和路由变得更容易。
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-picture
					.feature-content
						h4 数据库域
						p ID、String、Boolean、Date和Number是数据库的构件。Keystone以它们为基础实现了在现实工作中更实用的域类型，比如name、email、password、address、image和relationship (及其它)
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-light-bulb
					.feature-content
						h4 自动生成管理员界面
						p 不管你在搭建应用程序，或者在生产环境中作为数据库内容管理系统时是否用它，Keystone的管理员界面都能节省你的时间，让你管理数据更容易。
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-pencil
					.feature-content
						h4 编码更简单
						p 有时即便做的事情简单，异步代码也会变得复杂。Keystone让简单的事情（比如在视图中显示之前加载数据）保持简单。
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-docs
					.feature-content
						h4 表单处理
						p 要验证表单、上次图片或用一行代码更新数据库？基于你已经定义的数据模型，Keystone可以做到。
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-users
					.feature-content
						h4 会话管理
						p Keystone自带了会话管理和认证功能，包括密码域的自动加密。
			.col-sm-6.col-md-4.col-lg-3
				.feature-panel
					span.feature-icon.entypo.entypo-paper-plane
					.feature-content
						h4 发送Email
						p 借助Keystone，你的应用程序可以轻松地设置、预览和发送基于模板的email。它还集成了Mandrill (Mailchimp卓越的事务性email发送服务)
			.col-sm-6.col-md-4.col-lg-3.hidden-sm.hidden-lg
				.feature-panel
					span.feature-icon.entypo.entypo-publish
					.feature-content
						h4 管理式升级
						p Keystone包含一个可选的升级框架，可以替你运行升级升级脚本，方便从开发环境向生产环境切换。
	
	//- // Not including tweets in zh content
	//- section.intro-section.feedback-section
	//- 	.container: .section-header
	//- 		h2 社区反馈
	//- 		p.lead 人们是如何评价KeystoneJS的
	//- 		
	//- 			//- Tweets go here
	//- 		
	//- 		hr
	//- 		.section-header
	//- 			a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @keystonejs
			
	section.intro-section.admin-section
		.container: .section-header
			h2 管理界面
			p.lead Keystone基于模型给你生成一个漂亮的、可定制的管理界面
		//- .container.admin-image-full
			img(src='/images/home/admin-interface.png').img-responsive
		.container-sm
			.row
				.col-sm-6
					h3 你需要的一切
					p 创建、管理、编辑、删除。Keystone的管理界面会提供基本功能，所以你就不用自己做了。
					p 配置哪些域可以编辑，哪些模型可以创建，并按你的心意定制一切。
				.col-sm-6
					.admin-image: img(src='/images/home/inline-item-creation.png').img-responsive.img-circle
			.row
				.col-sm-6.col-sm-push-6
					h3 响应式 &amp; 主题化
					p 想在路上用你的CMS？Keystone可以让你得偿所愿。
					p Keystone的管理员界面是在Bootstrap 3基础上做的，可以适应所有屏幕尺寸和设备。
					p 你也可以用互联网上最流行的css框架修改主题 (或者去掉我们的)。
				.col-sm-6.col-sm-pull-6
					.admin-image: img(src='/images/home/responsive-design.png').img-responsive.img-circle
			.row
				.col-sm-6
					h3 精巧的过滤
					p Keystone的管理界面不仅仅是搜索和让你基于数据库中的任何域可视化地创建自己的查询。
					p 每种域类型都有自己的规则和UI - 所以你可以根据日期、位置等进行过滤。
				.col-sm-6
					.admin-image: img(src='/images/home/sophisticated-filtering.png').img-responsive.img-circle
			.row
				.col-sm-6.col-sm-push-6
					h3 漂亮的表单
					p Keystone不仅了解数据的结构 - 它还知道数据的意图。
					p 所以日期域成了日期选择器，HTML域成了WYSIWYG编辑器，关系变成了搜索框。
					p 输入域还可以依据条件，所以复杂表单变简单了。
				.col-sm-6.col-sm-pull-6
					.admin-image: img(src='/images/home/sophisticated-fields.png').img-responsive.img-circle
	
	
	section.intro-section.tools-section
		span.tool-icon.tool-icon__cloud.entypo.entypo-cloud
		span.tool-icon.tool-icon__rocket.entypo.entypo-rocket
		.container
			.section-header
				h2.text-center 做什么取决于你。
				p.lead 有很多框架会为你做决定，还有很多把决定权拿走了。Keystone不会那样。使用适合你的功能，换掉不合适的。
			.big-icon
				span.entypo.entypo-tools
			.row
				.col-sm-6.col-md-3
					h4 以Express为基础搭建
					p Keystone可以为你配置Express，或者你可以接管，将Keystone当作Express中间件对待。
					p 你也可以轻松地将其集成到已有的Express程序中。
				.col-sm-6.col-md-3
					h4 由MongoDB提供动力
					p Keystone使用Mongoose，用于node.js和MongoDB的领先ODM，让你在一个地方定义模式、
						| 验证规则和逻辑。
					p 所以任何可以用MongoDB做的东西都可以用Keystone做。
				.col-sm-6.col-md-3
					h4 轻便又灵活
					p Keystone设计的尽可能轻便 - 你可以选择自己想要引入的功能。
					p 创建你自己的路由，你自己的数据库模式，使用任何你喜欢的模板。
				.col-sm-6.col-md-3
					h4 可扩展
					p node.js最好的地方之一是有大量优质的包。
					p Keystone被设计成让你可以使用任何包，不会失去它们带来的好处。
	
	section.intro-section.cta-section: .container
		.row
			.col-sm-6: .left-col
				h3: a(href='/zh/getting-started', title='KeystoneJS Getting Started') 开始 &rarr;
				p.lead 看起来是你要找的吗？检出入门指南，学习如何在一分钟内把它跑起来吧。
			.col-sm-6: .right-col
				h3: a(href="mailto:contact@keystonejs.com") 联系我们 &rarr;
				p.lead 如果你希望用Keystone做项目，希望贡献力量，或者寻求商业支持，我们乐于听到你的声音。请与我们联系。
				
		
		
		
	
	
	//- section.intro-section.cta-section: .container: .section-header
		h3 愿景
		p Keystone基于现实世界的模式和工具搭建，
			| 并且我们的核心团队已经在几个生产型应用程序中采用了它。
		p 我们在MIT许可下发布了keystone，以便帮助其他开发人员，也让这个项目得以成长。
		p 非常欢迎反馈和贡献。我们正在制作文档和示例，还有很多振奋人心的功能要添加。
	
	//- section.intro-section.cta-section: .container: .row: .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
		p.lead 如果你希望用Keystone做项目，希望贡献力量，或者寻求商业支持，我们乐于听到你的声音。请与我们 <a href="mailto:contact@keystonejs.com">联系</a>。
	
	
block js
	script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
